/*Modal dialogs*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  overflow: scroll;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-wrapper .card {
  border:none;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

.modal-wrapper .card-header {
  color:white;
  background-color: #0060c0;
}

.modal-wrapper .card-body {
    overflow-y: auto;
}
