.form-signin { width: 100%;  max-width: 550px;  padding: 15px;  margin: auto;}
.form-signin .form-control {  position: relative;  box-sizing: border-box;  height: auto;  padding: 10px;  font-size: 16px;}
.form-signin .form-control:focus {  z-index: 2;}
