body {
	--md-border: #343A40;
	--md-bg-header: #E9ECEF;
	--md-fg-link: black;
}

img.center { display:block;	margin-right: auto;margin-left:auto; max-width: 100% }
img.float {	margin:0.5em;padding:0.5em;	float:right;margin: 0.5em;	max-width: 100%;display:block}
img.preview {	cursor:pointer;margin:0.5em; padding:0em 0.5em;	float:right;width: 300px;max-width:50%;display:block;transition: transform .2s;}
img.preview:hover{transform: scale(1.05);z-index:10;}
img.move-up { margin-top: -2em}

div.text-block h1 {font-size:2.5rem;padding:2rem 0.5rem;font-weight: 500; background-color: #E0E2E6; margin-bottom: 2rem; text-align: center;}
div.text-block h2 {font-size:1.5em;margin-top:1.5em; margin-bottom: 0.5em; font-weight: 500;clear: both; }
div.text-block h3 {font-size:1.1em;margin-top:1.1em;clear: both;}

/*Paragraph*/
div.text-block p {line-height:140%; text-align:justify;}
div.text-block p.subtitle {font-size:1.25rem;padding-bottom: 2rem; padding-left: 2rem; padding-right: 2rem; margin-top: -3.5rem; margin-bottom: 2rem; font-weight: 300; background-color: #E0E2E6;  text-align: center;}
/*Links*/


/*Lists*/
div.text-block li,div.text-block ol,div.text-block dd {line-height:140%}
div.text-block ol {margin-left: -1em; }
div.text-block ul li, div.text-block ol li {padding: 0.2em 0 0.2em 0em; margin-left: 1.5rem}
div.text-block ol li ol {padding:0.1em 0 0.2em 1.5em; margin-left: 0em}
div.text-block ol li ol li {padding:0.2em 0 0.1em 0em;}
div.text-block dt { font-weight:bold;margin:0.4em 1em 0.1em 0;}

/*Tables*/
div.text-block table { width:100%; display:block; border-collapse:collapse;padding:0px;color:var(--fg-text);background-color: var(--bg-table);margin:12px auto 12px auto; table-layout: fixed;}
div.text-block tr {border-style:none}
div.text-block tr:nth-of-type(odd) { background: rgba(0,0,0,.1); }
div.text-block th {background-color: var(--bg-nav); color:white;text-align:left;vertical-align:top; padding: 5px 10px}
div.text-block td {color:var(--fg-text);text-align:left; padding: 5px 10px}


/*Limit width*/
div.text-block p:not(.subtitle), div.text-block h2, div.text-block h3, div.text-block table, div.text-block ul, div.text-block ol, div.text-block pre {max-width: 960px; margin-left:auto;margin-right: auto;padding-left: 0.5rem; padding-right: 0.5rem}

/*Dark design*/
[data-theme="dark"] {
	--md-bg-header: #343B40;
	--md-border: #9BADBF;
	--md-fg-link: #ffffff;
}
