<template>
	<div>
		<page-title :title="$t('admin-title')" :subtitle="$t('admin-text')"/>
		<menu-small :menu="menu"/>
	</div>
</template>

<script>
	import PageTitle from '../components/PageTitle.vue';
	import MenuSmall from '../components/MenuSmall.vue';
	import store from '../js/store.js';
	import iconUser from '../img/user.svg';
	import iconAdmin from '../img/admin.svg';
	import iconText from '../img/type-text.svg';

	export default {
		name: "admin",
		components: {PageTitle, MenuSmall},
		data: function() {
			return {
				menu:[]
			}
		},
		mounted() {
			// User must login.
			if (store.user.login.length <= 0) {
				this.$router.push({name: 'main-login', query: {redirect: this.$router.currentRoute.path}});
			} else if (!store.user.hasRole('admin')) {
				// User is logged in, but does not have the permission.
				this.$router.push({name:'main-index'});
			}
			else if (this.menu.length<1) {
				//add entries for main modules
				this.menu.push({title:this.$t('user-list-title'), text:this.$t('user-list-text'), icon:iconUser, to:'main-user-list'});
				this.menu.push({title:this.$t('version-title'), text:this.$t('version-text'), icon:iconAdmin, to:'main-version'});
				this.menu.push({title:this.$t('templates-title'), text:this.$t('templates-text'), icon:iconText, to:'main-templates'});
				//add antries for other modules
	            for (var mod of this.$config.allModules) {
	            	if (mod.meta.adminto) {
	                    this.menu.push({title:mod.meta.title[store.lang], icon:mod.meta.icon, to:mod.meta.adminto, text:mod.meta.text[store.lang], role:mod.meta.role, id:mod.id});
	                }
	            }
	        }
		}
	}
</script>

<i18n src="../locales/Admin.json"/>
