<template>
	<div>
		<PageTitle :title="$t('templates-title')" :button="$t('manual')" buttonhref="https://codeberg.org/lerntools/base/wiki/Vorlagen"/>

		<!-- Delete user -->
		<modal-confirm v-if="showDialogDelete" v-on:accept="deleteTemplate(modifyTpl)" v-on:close="cancelDeletion();">
			<warning-list :warnings="warningsDelete"/>
			<p>{{$t('confirm-delete-template',{tpl:modifyTpl})}}</p>
		</modal-confirm>

		<!-- Edit/Create user -->
		<template-editor v-if="showEditor" v-model="modifyTpl" v-on:accept="editorDone()" 
			v-on:close="cancelDeletion();"></template-editor>

		<!-- Main content displaying template list -->
		<div class="container" >
			<div v-if="!isLoading" class="card shadow my-4" >
				<div class="card-header bg-dark text-white">{{$t('templates-list')}}</div>
				<search-box v-on:search="text=> {this.searchText=text}"/>
				<table class="card-body table my-0">
					<tr>
						<th style="cursor: pointer">{{$t('col-number')}}</th>
						<th style="cursor: pointer" v-on:click="sort('type')">{{$t('type')}}</th>
						<th style="cursor: pointer" v-on:click="sort('language')">{{$t('language')}}</th>
						<th style="cursor: pointer" v-on:click="sort('defaultTpl')" v-if="$config.editStandardTemplates">{{$t('default-tpl')}}</th>
						<th style="cursor: pointer" v-on:click="sort('title')" class="d-none d-sm-table-cell">{{$t('title')}}</th>
						<th style="width:10em">{{$t('action')}}</th>
					</tr>
					<tr v-for="(tpl,index) in filteredTemplatesList" v-bind:key="tpl._id" v-show="search(tpl)">
						<td>{{index+1}}</td>
						<td>{{tpl.type}}</td>
						<td>{{tpl.language}}</td>
						<td v-if="$config.editStandardTemplates">{{getBooleanText(tpl.defaultTpl)}}</td>
						<td class="d-none d-sm-table-cell hyphenate">{{tpl.title}}</td>
						<td style="min-width:6em">
							<tooltip-icon  :tip="$t('edit-template')" src='~Main/img/edit.svg' v-on:click="edit(tpl)"/>
							<tooltip-icon v-if="!tpl.defaultTpl" :tip="$t('delete-template')" src='~Main/img/delete.svg' v-on:click="confirmToDelete(tpl)"/>
						</td>
					</tr>
				</table>
			</div>
			<div class="text-right">
				<tooltip-icon class="bigIcon" size="big" :tip="$t('create-template')" v-on:click="createTemplateDialog()" src="~Main/img/plus-primary.svg" :alt="$t('create-new-template')" />
			</div>
			<button class="mr-1 mt-3 btn btn-secondary" v-on:click="$router.push('main-admin')">{{$t('back')}}</button>
		</div>

	</div>
</template>

<script>
	import WarningList from 'Main/components/WarningList.vue';
	import PageTitle from 'Main/components/PageTitle.vue';
	import ModalConfirm from 'Main/components/ModalConfirm.vue';
	import ModalDialog from 'Main/components/ModalDialog.vue';
	import SearchBox from 'Main/components/SearchBox.vue';
	import TooltipIcon from 'Main/components/TooltipIcon.vue';
	import TemplateEditor from 'Main/components/TemplateEditor.vue';
	import store from 'Main/js/store.js';

	export default {
		components: {WarningList, PageTitle, ModalDialog, ModalConfirm, SearchBox, TooltipIcon, TemplateEditor},
		data: function() {
			return {
				showDialogDelete:false,
				searchText:'',
				templatesList: [],
				message:'',
				warningsDelete:[],
				warningsList:[],
				store:store,
				isLoading: true,
				modifyTpl: {
					_id: undefined,
					type: '',
					language: '',
					title: '',
					content: ''
				},
				showEditor: false
			}
		},
		computed: {
			filteredTemplatesList: function() {
				return this.templatesList.filter((value) => {
					return (value.language == store.lang) ? value : undefined;
				});
			}
		},
		methods: {
			closeModals: function() {
				this.showDialogDelete = false;
				this.showEditor = false;
			},
			openEditor: function() {
				this.showEditor = true;
			},
			getBooleanText: function(value) {
				return this.$t(value ? 'yes' : 'no');
			},
			search: function (tpl) {
				var s=this.searchText.toLowerCase();
				return s=='' ||
					(tpl.type && tpl.type.toLowerCase().indexOf(s)>=0) ||
					(tpl.lang && tpl.lang.toLowerCase().indexOf(s)>=0) ||
					(tpl.title && tpl.title.toLowerCase().indexOf(s)>=0) ||
					(tpl.content && tpl.content.toLowerCase().indexOf(s)>=0);
			},
			sort: function(attribute) {
				this.templatesList.sort(this.compareValues(attribute));
			},
			compareValues: function (key, order='asc') {
  				return function innerSort(a, b) {
    				if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) return 0;
    				const varA=(typeof a[key]==='string') ? a[key].toUpperCase() : a[key];
    				const varB=(typeof b[key]==='string') ? b[key].toUpperCase() : b[key];
    				var result=0;
    				if (varA > varB) result=1;
					else if (varA < varB) result=-1;
    				return ((order==='desc') ? (result * -1) : result );
				};
			},
			loadTemplatesList: function() {
				this.isLoading = true;
				this.warningsList=[];
				// skip: , { params: { lang: store.lang } }
				var params = {};
				if (this.$config.editStandardTemplates) {
					params.include_default = true;
				}
				
				this.$axios.get('main/admin/templates', {params:params}).then(response=> {
					this.templatesList = response.data;
					this.isLoading = false;
				});
			},
			deleteTemplate: function(tpl) {
				var tplIdx = this.templatesList.indexOf(tpl);
				this.$axios.delete('main/admin/templates/' + tpl._id).then(response=> {
					if (response.status == 204 || response.status == 404) {
						this.templatesList.splice(tplIdx, 1);
					}
				});
				this.closeModals();
			},
			confirmToDelete: function(tpl) {
				this.modifyTpl = tpl;
				this.showDialogDelete = true;
			},
			cancelDeletion: function() {
				this.closeModals();
			},
			createTemplateDialog: function() {
				this.modifyTpl._id = undefined;
				this.modifyTpl.type = '';
				this.modifyTpl.language = store.lang;
				this.modifyTpl.title = '';
				this.modifyTpl.content = '';
				this.openEditor();
			},
			edit: function(tpl) {
				this.modifyTpl._id = tpl._id;
				this.modifyTpl.type = tpl.type;
				this.modifyTpl.language = tpl.language;
				this.modifyTpl.title = tpl.title;
				this.modifyTpl.content = tpl.content;
				this.openEditor();
			},
			editorDone: function() {
				this.closeModals();
				this.loadTemplatesList();
			}
		},
		mounted() {
			// For this action, user must be logged in.
			if (!store.user || store.user.login.length <= 0) {
				this.$router.push({name: 'main-login', query: {redirect: this.$route.name}});
			} else if (store.user.roles.indexOf('admin') < 0) {
				// But not only logged in, user must have the admin role.
				// If not, we show an error page.
				this.$router.push({name:'main-forbidden'});
			} else {
				this.loadTemplatesList();
			}
		}

	}
</script>

<i18n src="../locales/Templates.json"/>
