/*Define colors*/
:root {
	--bg-main: #0060a0; --bg-main-light: #0060a0;
	--primary: #0060a0; --primary-hover: #0050a0;
	--fg-link: #0060a0; --fg-link-hover: #ffffff;
	--fg-text: #212529; --fg-light-color: rgba(255, 255, 255, 0.5);
	--bg-nav: #343A40;
}

html {font-size:15px; height:100%; }
body {color:var(--fg-text); height: 100%;}
.container-main { min-height: 100%; position: absolute; width:100%; padding-bottom:3em;}

.jumbotron{background-color: #E0E2E6}

.bg-main {background-color: #0060a0ff}
.bg-primary {background-color: #0060a0ff !important}
.btn-primary {background-color: #0060a0ff !important}
.btn-primary:hover {background-color: #0050a0ff !important}
.btn-outline-primary {border-color: #0060a0ff; color: #0060a0ff}
.btn-outline-primary:hover {background-color: #0060a0ff;}

.btn-sm {font-size: 1em}

.navbar-top {background-color: var(--bg-nav); }
.navbar-bottom {background-color: var(--bg-nav); position:absolute; bottom:0px; width:100%; }

a {color:var(--fg-link)}
a.card {color:var(--fg-text) }
a.card:hover {text-decoration: none}
a.list {color:var(--fg-text);text-decoration:none}
a.list::before {content: "» "}
a.list:hover {font-weight:bold;color:var(--fg-text);}
a.anchor {    display: block;    position: relative;    top: -4em;    visibility: hidden;}
/* Ensure, pointer cursor is shown even if there is no href. */
.nav-item a:not([href]) {cursor:pointer;}
.nav-item a:not([href]):active:hover { color: var(--fg-link-hover); }

/*Icons*/
.tinyIcon {padding:0;margin-left:-2px;height:1.3rem;cursor:pointer; transition-duration: .2s; }
.smallIcon {padding:0;margin-left:-2px;height:1.8rem;cursor:pointer; }
.mediumIcon {height:2.5rem;cursor:pointer;}
.bigIcon {height:4rem;cursor:pointer;}
.tinyIcon:hover, .smallIcon:hover, .bigIcon:hover, .mediumIcon:hover {color:var(--fg-text); cursor: pointer; transform: scale(1.2);z-index:10; 	}
.loginIcon {width:10rem}

/*Format jumbotron*/
.jumbotron {  padding:2rem 0.5rem !important;  margin-bottom: 1rem;  border-radius:0pt; }

/*Hyphenation*/
p {-ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; margin-bottom:0.5rem}
p.lead {line-height: 1.25}
td.hyphenate {overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;-ms-hyphens: auto;-moz-hyphens: auto;-webkit-hyphens: auto;hyphens: auto;}

/*Invertiert Images*/
img.invert {filter:invert(1)}

/*Hover-Effect*/
.div-hover {transition: transform .2s;}
.div-hover:hover{color:var(--fg-text);cursor: pointer;transform: scale(1.03);z-index:10	}

/*Variable background, default value*/
.bg-var {background-color: var(--secondary);}

/*Card format*/
.card-header{font-size:110%;text-align:left;}

/*Fix width*/
.w15em {width:10em}

/*Floats*/
.clear-both{clear:both}

/*Mouse Zeiger als Pointer - für anklickbare Inhalte*/
.cursor-pointer{  cursor: pointer;transition: transform .2s;}
.cursor-pointer:hover{transform: scale(1.1);z-index:10}

/*Semitransparent*/
.opa05 { opacity: 0.5;}

/*Transisions vue router*/
.fade-enter-active, .fade-leave-active {transition-duration: 0.2s; transition-property:opacity; transition-timing-function: ease;}
.fade-enter, .fade-leave-active { opacity: 0 }

/*Striped tables - without js*/
table.table-striped tr:nth-child(odd) { background-color: #f2f2f2 }
table.table-striped tr:nth-child(even) { background-color: #ffffff }


/*Draggable contents - prohibit mouse selection*/
[draggable] {  -moz-user-select: none;  -khtml-user-select: none;  -webkit-user-select: none;  user-select: none;	cursor: move;  cursor: grab; }

/*Math equations*/
.katex .mathdefault { font-family: Helvetica !important; font-size: 1em !important;}
*.katex { font-family: Helvetica !important; font-size: 1em !important;}
*.mathnormal { font-family: Helvetica !important; font-size: 1em !important; letter-spacing: +1px !important; }
*.accent-body { font-family: KaTeX_Main !important; font-size:110%;bottom: 1px} /* don't change for math accents */

/*Source code*/
code { color:#00a060ff; font-size: 100%}

.full-width {
	width: 100%;
}
.markdown-editor-fullscreen {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99999;
	border: none;
	margin: 0 auto;
	background-color: #fff;
}
.markdown-editor-fullscreen .markdown-editor-pane  {
	flex-grow: 1;
}
.markdown-editor-wrapper {
	display: flex;
	width: 100%;
	flex-flow: column;
}
.markdown-editor-toolbar {
	min-height: 35px;
	padding: 0 8px;
}
.markdown-editor-toolbar > ul > li {
	padding: 5px 1px;
	margin: 0;
	text-align: center;
}
.markdown-editor-toolbar > ul > li > span {
	padding: 5px;
	transition: all .3s ease-out;
}
.markdown-editor-toolbar > ul > li > span:hover,
.markdown-editor-toolbar > ul > li > span:active {
	border: 1px solid #ddd;
	background-color: #eee;
}
.markdown-editor-pane {
	display: flex;
	width: 100%;
	flex-flow: row;
}
.markdown-editor-toolbar {
	border: 1px solid #ddd;
}
.markdown-editor-toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.markdown-editor-toolbar li {
	display: inline;
	cursor: pointer;
}
.markdown-editor-toolbar li.divider {
	display: inline-block;
	text-indent: -9999px;
	margin: 0 5px;
	border-right: 1px solid #ddd;
}

.markdown-editor-pane textarea {
	flex: 1;
}
.markdown-editor-pane .markdown-preview {
	flex: 1;
	border: 1px solid #ced4da;
	padding: 0.375rem 0.75rem;
}

.modal-wrapper div.card {
	max-height: 100vh;
}

blockquote {
	border-left: 4px solid #ddd;
	padding-left: 20px;
	margin-left: 0;
}

@media screen and (max-width: 500px) {
	div.jumbotron { padding: 1rem 0.5rem !important;}
	div.jumbotron div.container h1 {font-size: 24px}
	div.container {padding:0.2rem}
	p.lead {font-size: 18px}
	p {line-height: 1.2}
	div.card-body h3 {font-size:20px}
}

/* Navigation Bar */
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .dropdown-menu {
		position: absolute;
		left: auto;
		top: 100%;
		right: 0;
	}
}


/*Printout*/
@media print {
	body {padding:0; margin:0;}
	.container-main { padding:0; margin:0;}
	.section { padding:0; margin:0;}
	.jumbotron {background-color: inherit; padding:0; margin:0; }
	.jumbotron .container .lead {text-align: left; }
	.container-fluid, .container {padding:0; margin:0;}
	h1 {text-align: left}
	audio, video {display: none}
	.btn {display:none}
	.nav {display:none}
}
@page {
	margin:2cm;
}

/*
 * TODO: Eliminate the redundancies in code for dark-mode
 */

/*Dark Theme*/
[data-theme="dark"] {
	--fg-link: #0080FF;
	--fg-text: #f0f0ff;
	color:#f0f0ff;
	background-color: #1F2326 !important;
}

[data-theme="dark"]	.bg-light {  background-color: #1F2326 !important;}
[data-theme="dark"]	.bg-white {  background-color: #000 !important;}
[data-theme="dark"]	.bg-black {  background-color: #fff !important;}
[data-theme="dark"]	.close { color: white;}
[data-theme="dark"]	.jumbotron {  background-color: #343B40 !important;}
[data-theme="dark"]	.card {  background-color: #343B40 !important;}
[data-theme="dark"]	.table {  background-color: #343B40 !important;}
[data-theme="dark"]	.shadow { box-shadow: 0.5rem .5rem 1rem #000000 !important; }
[data-theme="dark"]	.smallIcon { filter:invert(0.9) }
[data-theme="dark"]	.mediumIcon { filter:invert(0.9) }
[data-theme="dark"]	.loginIcon {filter:invert(0.9) }
[data-theme="dark"]	.navbar-language-switcher {filter:unset; }
[data-theme="dark"]	td { color:white }
[data-theme="dark"]	th { color:white }
[data-theme="dark"]	.list-group-item { color:white; background-color: #292E33  }
[data-theme="dark"]	.modal-content { color:white; background-color: #495259  }
[data-theme="dark"]	.input-group-text { color:white; background-color: #000000  }
[data-theme="dark"]	.form-control { color:white; background-color: #000000  }
[data-theme="dark"] .form-control:disabled { background-color: #343B40 !important;}
[data-theme="dark"]	a.list { color:white; }
[data-theme="dark"]	table.table-striped tr:nth-child(even) { background-color: #1F2326 }
[data-theme="dark"]	table.table-striped tr:nth-child(odd) { background-color: #000000 }

@media screen and (prefers-color-scheme: dark) {
  /* ModalSettings.vue assigns theme to body element. Thus use it as selector here. */
  body {
		--fg-link: #0080FF;
		--fg-text: #f0f0ff;
		color: #f0f0ff;
		background-color: #1F2326 !important;
  }

	/* Browser dark-theme is overriden by ModalSettings light-theme */
	[data-theme="light"] {
		--fg-link: #0060a0;
		--fg-text: #212529;
		color: var(--fg-text);
		background-color: #fff !important;
	}
  
	.container-main:not([data-theme="light"])	.bg-light {  background-color: #1F2326 !important;}
	.container-main:not([data-theme="light"])	.bg-white {  background-color: #000 !important;}
	.container-main:not([data-theme="light"])	.bg-black {  background-color: #fff !important;}
	.container-main:not([data-theme="light"])	.close { color: white;}
	.container-main:not([data-theme="light"])	.jumbotron {  background-color: #343B40 !important;}
	.container-main:not([data-theme="light"])	.card {  background-color: #343B40 !important;}
	.container-main:not([data-theme="light"])	.table {  background-color: #343B40 !important;}
	.container-main:not([data-theme="light"])	.shadow { box-shadow: 0.5rem .5rem 1rem #000000 !important; }
	.container-main:not([data-theme="light"])	.smallIcon { filter:invert(0.9) }
	.container-main:not([data-theme="light"])	.mediumIcon { filter:invert(0.9) }
	.container-main:not([data-theme="light"])	.loginIcon {filter:invert(0.9) }
	.container-main:not([data-theme="light"])	td { color:white }
	.container-main:not([data-theme="light"])	th { color:white }
	.container-main:not([data-theme="light"])	.list-group-item { color:white; background-color: #292E33  }
	.container-main:not([data-theme="light"])	.modal-content { color:white; background-color: #495259  }
	.container-main:not([data-theme="light"])	.input-group-text { color:white; background-color: #000000  }
	.container-main:not([data-theme="light"])	.form-control { color:white; background-color: #000000  }
	.container-main:not([data-theme="light"])	.form-control:disabled { background-color: #343B40 !important;}
	.container-main:not([data-theme="light"])	a.list { color:white; }
	.container-main:not([data-theme="light"])	table.table-striped tr:nth-child(even) { background-color: #1F2326 }
	.container-main:not([data-theme="light"])	table.table-striped tr:nth-child(odd) { background-color: #000000 }
}
