<template>
	<section>
		<page-title :title="$t('title')"/>
		<admin-list :title="$t('survey-templates')" getUrl="survey/admin/surveys" delUrl="survey/surveys/"/>
		<admin-list :title="$t('active-surveys')" getUrl="survey/admin/instances" delUrl="survey/instances/"/>
  	</section>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';
import AdminList from '../../main/components/AdminList.vue';

export default {
	name: 'survey-admin',
	components: { PageTitle, AdminList},
}
</script>






<i18n>
{
	"de": {
		"title": "Online-Umfrage",
		"survey-templates": "Umfrage-Vorlagen",
		"active-surveys": "Laufende Umfragen"
	},
	"en": {
		"title": "Online Survey",
		"survey-templates": "Survey templates",
		"active-surveys": "Ongoing surveys"
	}
}
</i18n>