<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')"/>
		<div class="container mt-3" >
			<p class="h4 mt-4">{{$t('instances')}}</p>
			<wait-icon v-if="!surveyInstanceList"/>
			<table v-else-if="surveyInstanceList.length>0" class="table table-striped mt-2 border shadow">
				<tr class="bg-primary text-white">
					<th>{{$t('title-label')}}</th>
					<th>{{$t('date')}}</th>
					<th class="d-none d-md-table-cell">{{$t('template')}}</th>
					<th>{{$t('action')}}</th>
				</tr>
				<tr v-for="entry in surveyInstanceList">
					<td>{{entry.title}}</td>
					<td>{{formatCreated(entry.created)}}</td>
					<td class="d-none d-md-block">{{entry.surveyName}}</td>
					<td>
						<tooltip-icon :tip="$t('hint-show-results')" src="../../main/img/start.svg" v-on:click="result(entry)"/>
						<tooltip-icon v-if="entry.tickets.length==1" :tip="$t('hint-qr-code')"  src="../../main/img/share.svg" v-on:click="share(entry)"/>
						<tooltip-icon v-else :tip="$t('hint-show-tickets')" src="../../main/img/share.svg" v-on:click="showTickets(entry)"/>
						<tooltip-icon :tip="$t('hint-export-results')" src="../../main/img/export.svg" v-on:click="exportResult(entry)"/>
						<tooltip-icon :tip="$t('delete')" src="../../main/img/delete.svg" v-on:click="delInstance(entry)"/>
					</td>
				</tr>
			</table>
			<div v-else class="alert alert-primary">{{$t('no-surveys-yet')}}</div>
			<div class="text-right">
				<tooltip-icon :tip="$t('hint-start-new-survey')" size="big" src="../../main/img/plus-primary.svg" v-on:click="createNewInstance()"/>
			</div>

			<p class="h4 mt-2">{{$t('templates')}}</p>
			<wait-icon v-if="!availableSurveys"/>
			<table v-else-if="availableSurveys.length>0" class="table table-striped mt-2 border shadow">
				<tr class="bg-primary text-white">
					<th>{{$t('survey-template')}}</th>
					<th>{{$t('description')}}</th>
					<th class="d-none d-md-table-cell">{{$t('author')}}</th>
					<th>{{$t('action')}}</th>
				</tr>
				<tr v-for="survey in availableSurveys" v-if="survey">
					<td>{{survey.name}}</td>
					<td>{{survey.desc}}</td>
					<td class="d-none d-md-table-cell">{{survey.owner}}</td>
					<td style="white-space: nowrap;">
						<tooltip-icon :tip="$t('hint-preview')" src="../../main/img/start.svg" v-on:click="preview(survey)"/>
						<tooltip-icon v-if="survey.owner==store.user.login" :tip="$t('hint-edit-template')" src="../../main/img/edit.svg" v-on:click="edit(survey)"/>
						<tooltip-icon :tip="$t('hint-copy-template')" src="../../main/img/duplicate.svg" v-on:click="surveyToCopy=survey"/>
						<tooltip-icon :tip="$t('hint-export-template')" src="../../main/img/export.svg" v-on:click="exportJson(survey)"/>
						<tooltip-icon v-if="survey.owner==store.user.login" :tip="$t('hint-delete-template')" src="../../main/img/delete.svg" v-on:click="surveyToDelete=survey"/>
					</td>
				</tr>
			</table>
			<div v-else class="alert alert-primary">{{$t('no-templates-yet')}}</div>
			<div class="text-right">
				<tooltip-icon :tip="$t('hint-create-template')" size="big" src="../../main/img/plus-primary.svg" v-on:click="edit({parts:[]})"/>
				<tooltip-icon :tip="$t('hint-import-template')" size="big" src="../../main/img/import-primary.svg" v-on:click="showModalImport=true"/>
			</div>
		</div>

		<!-- modal dialog delete instance & result -->
		<modal-confirm v-if="showModalConfirmDeleteInstance" v-on:close="showModalConfirmDeleteInstance=false" v-on:accept="acceptDeleteInstance()">
			{{$t('confirm-delete-results',{title:dialogItem.title})}}
		</modal-confirm>

		<!-- modal dialog start instance -->
		<modal-dialog v-if="showModalCreateInstance" v-on:close="showModalCreateInstance=false" v-on:accept="acceptCreateInstance()">
			<template v-slot:header>{{$t('start-new-survey')}}</template>
			<warning-list v-if="dialogWarnings" :warnings="dialogWarnings"/>
			<p>{{$t('create-survey-text')}}</p>
			<div class="form-group row">
				<label class="col-md-3 col-form-label" >{{$t('title-label')}}</label>
				<input class="form-control col-md-9" v-model="createInstance.title" type='text' :placeholder="$t('hint-title')"
					:class="{'is-invalid':!$v(createInstance.title,true,$consts.REGEX_TEXT_300)}">
				<label class="col-md-3 col-form-label" >{{$t('number')}}</label>
				<input class="number form-control col-md-9" type='number' min="1" max="1000" v-model:number="createInstance.count" :placeholder="$t('hint-number')">
				<label class="col-md-3 col-form-label">{{$t('template')}}</label>
				<select class="form-control col-md-9" v-model="createInstance.surveyId"
					:class="{'is-invalid':!createInstance.surveyId}">
					<option :value="survey._id" v-for="survey in availableSurveys">{{survey.name}}</option>
				</select>
			</div>
		</modal-dialog>

		<modal-dialog v-show="showModalImport" v-on:close="showModalImport=false" v-on:accept="importJson()">
			<template v-slot:header>{{$t('import-template')}}</template>
			<warning-list v-if="dialogWarnings" :warnings="dialogWarnings"/>
			<p>{{$t('import-text')}}</p>
			<br>
			<input class="form-control-file mr-2" type="file" v-on:change="importFileChange" name="surveyFile">
		</modal-dialog>

		<modal-confirm v-if="surveyToDelete" v-on:close="surveyToDelete=false" v-on:accept="delSurvey(surveyToDelete)">
			{{$t('confirm-delete-template',{title:surveyToDelete.name})}}
		</modal-confirm>

		<modal-dialog v-if="surveyToCopy" v-on:close="surveyToCopy=false" v-on:accept="copySurvey(surveyToCopy)">
			<template v-slot:header>{{$t('copy-template')}}</template>
			<warning-list v-if="dialogWarnings" :warnings="dialogWarnings"/>
			<input class="form-control" v-model="copyTitle" :placeholder="$t('hint-template-title')"
				:class="{'is-invalid':!$v(copyTitle,true,$consts.REGEX_TEXT_300)}">
		</modal-dialog>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :text="$t('share-info')" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';
import ModalDialog from '../../main/components/ModalDialog.vue';
import ModalShare from '../../main/components/ModalShare.vue';
import ModalConfirm from '../../main/components/ModalConfirm.vue';
import TooltipIcon from '../../main/components/TooltipIcon.vue';
import WarningList from '../../main/components/WarningList.vue';
import WaitIcon from '../../main/components/WaitIcon.vue';
import store from '../../main/js/store.js';
import download from '../../main/js/download.js';


export default {
	name: 'home',
	components: { PageTitle, TooltipIcon, ModalDialog, ModalShare, ModalConfirm, WarningList, WaitIcon},
	data: function() {
		return {
			surveyInstanceList:false,
			createInstance:{},
			availableSurveys:false,
			survey:{},
			store:store,
			showModalCreateInstance:false,
			showModalCreateSurvey:false,
			showModalImport:false,
			showModalConfirmDeleteInstance:false,
			shareUrl:'',
			warnings:'',
			importFiles:[],
			dialogItem:{},
			dialogWarnings:false,
			createTitle:'',
			copyTitle:'',
			surveyToDelete:false,
			surveyToCopy:false
		}
	},
	mounted: function() {
		if (!store.user.hasRole('survey')) {
			this.$router.push({name:'survey-part'});
		}
		else {
			this.$axios.get('survey/instances').then(response=> { this.surveyInstanceList=response.data });
			this.$axios.get('survey/surveys').then(response=> { this.availableSurveys=response.data });
		}
	},
	methods: {
		formatCreated: function(time) {
			if (!time) return '';
			else return new Date(time).toLocaleDateString()
		},
		formatVotes: function(entry) {
			if (!entry || !countVotes) return 0;
			var cv=countVotes.find(x=> x._id==entry._id);
			if (cv) return cv.number;
			else return 0;
		},
		share: function(entry) {
			var ticket=entry.tickets[0];
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/survey/'+ticket;
		},
		showTickets: function(entry) {
			this.$router.push({name:'survey-tickets', params: {instance:entry}});
		},
		result: function(entry) {
			this.$router.push({name:'survey-result',params: {id:entry._id}});
		},
		//export results as text
		exportResult: function(entry) {
			this.$axios.get('survey/results/'+entry._id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				var instance=response.data.instance;
				var numAnswers=response.data.numAnswers;
				var results=response.data.results;
				var txt=instance.title.toUpperCase()+"\n";
				var n=1;
				for (var part of instance.parts) {
					txt+="\n"+n+". "+part.title+"\n\n";
					for (var question of part.questions) {
						txt+=question.text+"\n";
						if (question.type==1) {
							txt+="\t"+this.$t('yes')+"\t"+results[question._id][1]+"\n";
							txt+="\t"+this.$t('no')+"\t"+results[question._id][2]+"\n";
						}
						else if (question.type==2) {
							txt+="\t"+this.$t('agree1')+"\t"+results[question._id][1]+"\n";
							txt+="\t"+this.$t('agree2')+"\t"+results[question._id][2]+"\n";
							txt+="\t"+this.$t('agree3')+"\t"+results[question._id][3]+"\n";
							txt+="\t"+this.$t('agree4')+"\t"+results[question._id][4]+"\n";
						}
						else if (question.type==3) {
							for (var line of results[question._id]) {
								txt+="\t* "+line+"\n";
							}
						}
					}
					n++;
				}
				download.downloadText(instance.title,txt);
			})
		},
		delInstance: function(entry) {
			this.dialogItem=entry;
			this.showModalConfirmDeleteInstance=true;
		},
		acceptDeleteInstance: function() {
			this.showModalConfirmDeleteInstance=false;
			this.$axios.delete('survey/instances/'+this.dialogItem._id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.$axios.get('survey/instances').then(response=> { this.surveyInstanceList=response.data });
			})
		},
		createNewInstance: function() {
			this.createInstance={count: 1};
			this.dialogWarnings=false;
			this.showModalCreateInstance=true;
		},
		acceptCreateInstance: function() {
			this.$axios.post('survey/instances/',this.createInstance).then(response=> {
				if (response.data[0]) return this.dialogWarnings=response.data;
				this.$axios.get('survey/instances').then(response=> { this.surveyInstanceList=response.data });
				this.showModalCreateInstance=false;
			})
		},
		preview: function(survey) {
			this.$router.push({name:'survey-preview', params: {survey:survey}});
		},
		edit: function(survey) {
			this.$router.push({name:'survey-edit', params: {survey:survey}});
		},
		exportJson: function(selectedSurvey) {
			var survey=this.toJson(selectedSurvey);
			//trigger download
			download.downloadJson(survey);
		},
		toJson: function(surveyToJson) {
			var survey=Object.assign({}, surveyToJson);
			//remove unecessary information
			delete survey._id;
			delete survey.__v;
			delete survey.owner;
			for (var part of survey.parts) {
				delete part._id;
				for (var question of part.questions) {
					delete question._id;
				}
			}
			return survey;
		},
		importFileChange: function(e) {
			var files=e.target.files || e.dataTransfer.files;
			this.importFiles=files;
			this.dialogWarnings='';
		},
		importJson: function() {
			if (!this.importFiles.length) return
			var reader=new FileReader();
			reader.onload=(e)=> {
				try {
					var survey=JSON.parse(e.target.result);
					this.$axios.post('survey/surveys', {survey:survey}).then(response=> {
						if (response.data[0]) this.dialogWarnings=response.data;
						this.showModalImport=false;
						this.$axios.get('survey/surveys').then(response=> { this.availableSurveys=response.data });
					})
				}
				catch (e) {
					this.dialogWarnings=[{msg:'import-only-json'}]
				}
			};
			reader.readAsText(this.importFiles[0]);
		},
		create: function() {
			this.$router.push({name:'survey-edit'})
		},
		delSurvey: function(survey) {
			this.$axios.delete('survey/surveys/'+survey._id).then(response=> {
				if (response.data[0]) this.warnings=response.data;
				this.surveyToDelete=false;
				this.$axios.get('survey/surveys').then(response=> { this.availableSurveys=response.data });
			})
		},
		copySurvey: function(survey) {
			var newSurvey=this.toJson(survey);
			newSurvey.name=this.copyTitle;
			newSurvey.visible=false;
			this.$axios.post('survey/surveys/',{survey:newSurvey}).then(response=> {
				if (response.data[0]) return this.dialogWarnings=response.data;
				this.$axios.get('survey/surveys').then(response=> { this.availableSurveys=response.data });
				this.dialogWarnings=false;
				this.surveyToCopy=false;
			})
		}
	}
}
</script>





<i18n>
{
	"de": {
		"title": "Online-Umfrage",
		"subtitle": "Jeder Umfrage liegt eine Vorlage zugrunde. Es gibt bereits einige vorgefertigte Vorlagen, die Sie direkt verwenden können. Alternativ haben Sie die Möglichkeit, eigene zu erstellen.",
		"title-label": "Titel",
		"date": "Datum",
		"template": "Umfrage Vorlage",
		"votes": "Stimmen",
		"action": "Aktion",
		"hint-show-results": "Ergebnisse anzeigen",
		"hint-qr-code": "QR-Code für Teilnehmer",
		"hint-show-tickets": "Tickets anzeigen",
		"hint-export-results": "Ergebnisse exportieren",
		"delete": "Löschen",
		"no-surveys-yet": "Derzeit gibt es keine laufenden Umfragen. Starten Sie eine neue Umfrage, indem Sie auf das Plus-Symbol klicken.",
		"hint-start-new-survey": "Neue Umfrage starten",
		"survey-template": "Umfrage-Vorlage",
		"description": "Beschreibung",
		"author": "Author",
		"hint-preview": "Vorschau dieser Vorlage",
		"hint-edit-template": "Vorlage Bearbeiten",
		"hint-copy-template": "Kopie erstellen",
		"hint-export-template": "Vorlage Exportieren",
		"hint-delete-template": "Vorlage Löschen",
		"no-templates-yet": "Legen Sie Ihre erste eigene Vorlage an, indem Sie auf das Plus-Symbol klicken bzw. importieren Sie bestehende Vorlagen.",
		"hint-create-template": "Neue Vorlage anlegen",
		"hint-import-template": "Vorlage importieren",
		"confirm-delete-results": "Wollen Sie die Umfrage-Ergebnisse „{title}“ wirklich löschen?",
		"start-new-survey": "Neue Umfrage starten",
		"create-survey-text": "Geben Sie als Anzahl die Zahl 1 an, so wird ein Zugangscode erstellt, der beliebig oft verwendet werden kann. Bei einer größeren Anzahl werden Zugangscodes generiert, die genau einmal gültig sind.",
		"hint-title": "Titel der Umfrage",
		"number": "Anzahl",
		"hint-number": "Anzahl der Teilnehmer",
		"create-template": "Neue Vorlage erstellen",
		"create-template-text": "Bitte beachten Sie, dass die Vorlagen, die Sie anlegen, standardmäßig „privat“ sind, d.h. dass nur Sie selbst die Vorlagen sehen und verwenden können. Möchten Sie die Fragensammlung anderen Benutzern zur Verfügung stellen, wählen Sie die Sichtbarkeit „öffentlich“.",
		"hint-template-title": "Titel der Vorlage",
		"import-template": "Vorlage importieren",
		"import-text": "Wählen Sie die zu importierende json-Datei aus und drücken Sie anschließend „importieren“",
		"confirm-delete-template": "Wollen Sie die Vorlage „{title}“ wirklich löschen? Achtung - es handelt sich hier nicht um die Ergebnisse einer Umfrage sondern die Definition der Umfrage selbst!",
		"copy-template": " Eigene Kopie der Vorlage erstellen",
		"share-info": "Bitte Veröffentlichen Sie diesen Link nicht offen im Internet – dieser Webserver ist dafür nicht ausgelegt. Danke!",
		"yes": "ja",
		"no": "nein",
		"agree1": "trifft voll zu",
		"agree2": "trifft eher zu",
		"agree3": "trifft weniger zu",
		"agree4": "trifft nicht zu",
		"instances":"Laufende Umfragen",
		"templates":"Vorlagen für Umfragen"
	},
	"en": {
		"title": "Online Survey",
		"subtitle": "Each survey is based on a template, there are already some ready-made templates that you can use directly, or you can create your own.",
		"title-label": "Title",
		"date": "Date",
		"template": "Survey Template",
		"votes": "Votes",
		"action": "Action",
		"hint-show-results": "Show results",
		"hint-qr-code": "QR-Code for participants",
		"hint-show-tickets": "Show tickets",
		"hint-export-results": "Export results",
		"delete": "Delete",
		"no-surveys-yet": "There are currently no ongoing surveys. Start a new survey by clicking on the plus icon.",
		"hint-start-new-survey": "Start a new survey",
		"survey-template": "Survey template",
		"description": "Description",
		"author": "Author",
		"hint-preview": "Preview this template",
		"hint-edit-template": "Edit template",
		"hint-copy-template": "Duplicate template",
		"hint-export-template": "Export template",
		"hint-delete-template": "Delete template",
		"no-templates-yet": "Create your first own template by clicking on the plus icon or import existing templates.",
		"hint-create-template": "Create new template",
		"hint-import-template": "Import template",
		"confirm-delete-results": "Do you really want to delete the results of the survey “{title}“?",
		"start-new-survey": "Start a new survey",
		"create-survey-text": "If you enter a number of 1, an access code will be created that can be used as often as you like, with a larger number, access codes that are valid just once will be generated.",
		"hint-title": "Title of the survey",
		"number": "Number",
		"hint-number": "Number of participants",
		"create-template": "Create new template",
		"create-template-text": "Please note that the templates you create are by default private, meaning that only you can see and use the templates yourself. If you want to make the template available to other users, select the visibility public.",
		"hint-template-title": "Template title",
		"import-template": "Import template",
		"import-text": "Select the json file to import and then press \"import\"",
		"confirm-delete-template": "Do you really want to delete the template “{title}“? Attention - these are not the results of a survey, but the definition of the survey itself!",
		"copy-template": "Create a copy of the template for yourself",
		"share-info": "Please do not publish this link openly on the internet - this web server is not designed for this. Thanks!",
		"yes": "Yes",
		"no": "no",
		"agree1": "fully applies",
		"agree2": "rather true",
		"agree3": "less true",
		"agree4": "does not apply",
		"instances": "Ongoing surveys",
		"templates": "Templates for surveys"
	}
}
</i18n>
