<template>
	<section class="flex-container m-4">
		<div v-if="instance" class="ticket" v-for="ticket in instance.tickets">
			<div class="ticket-text">
				<p class="ticket-title">{{instance.title}}</p>
				<p class="ticket-content">{{urlLink}}<p>
				<p class="ticket-content">Code: {{ticket}}</p>
			</div>
			<canvas class="ticket-code" :id="ticket"/>
		</div>
		<div class="my-5">
			<button class="btn btn-primary mr1" onclick='window.print()'>{{$t('print')}}</button>
			<router-link class="btn btn-secondary" :to="{ name: 'survey-index', params: {} }">{{$t('close')}}</router-link>
		</div>
	</section>
</template>

<script>
import QRCode from 'qrcode';

export default {
	mounted: function() {
		if (!this.$route.params.instance) return this.$router.push('main-index');
		this.instance=this.$route.params.instance;
		var location=window.location.toString();
		var base=location.substring(0,location.lastIndexOf('/'));
		this.urlLink=base+'/survey';
	},
	updated: function() {
		if (!this.instance.tickets) return;
		for (var ticket of this.instance.tickets) {
			QRCode.toCanvas(document.getElementById(ticket), this.urlLink+'/'+ticket, {scale: 3})
		}
	},
	data: function() {
		return {
			urlLink:'',
			instance:{}
		}
	}
}
</script>

<style>
	div.ticket {width:8cm;display:inline-block;border:0.5px gray solid}
	div.ticket-text {width:4.5cm;margin-left:1.5mm;float:left;}
	p.ticket-title {font-size:10pt;font-weight:bold;margin-top:2mm}
	p.ticket-content {font-size:9pt;margin-top:1mm}
	p.ticket-code {display:inline-block;float:right}
</style>


<i18n>
{
	"de": {
		"print": "Drucken",
		"close": "Schließen"
	},
	"en": {
		"print": "Print",
		"close": "Close"
	}
}
</i18n>