<template>
	<section>
		<PageTitle :title="$t('error')"/>
		<div class="container my-4">
			<div class="alert alert-warning mb-4">{{$t('internal-server-error')}}</div>
			<router-link class="btn btn-primary" :to="{ name: 'main-index' }">{{$t('to-home')}}</router-link>
		</div>

	</section>
</template>

<script>
	import PageTitle from '../../main/components/PageTitle.vue';

	export default {
		components: {PageTitle},
	}
</script>


<i18n>
{
	"de": {
		"error": "Fehler",
		"internal-server-error": "Auf Seiten des Servers ist ein unbekannter Fehler aufgetreten. Schließen Sie den Browser und öffnen Sie die Anwendung erneut.",
		"to-home": "zur Startseite"
	},
	"en": {
		"error": "Error",
		"internal-server-error": "An unknown server error occurred. Please close the browser and reopen the application.",
		"to-home": "To the homepage"
	}
}
</i18n>