<template>
  <div class="home">
	<page-title :title="title" :subtitle="subtitle"/>
  <menu-huge :menu="homeMenu"/>
  </div>
</template>

<script>

import PageTitle from '../components/PageTitle.vue';
import MenuHuge from '../components/MenuHuge.vue';
import config from '../config.js';
import store from '../js/store.js';

export default {
	name: 'home',
	components: {PageTitle, MenuHuge},
	data: function() {
		return {
			homeMenu:[],
			title:'',
			subtitle:''
		}
	},
	mounted: function() { this.setMenu() },
	computed: { locale: function() { return this.$i18n.locale } },
	watch: { locale: function() { this.setMenu() } },
	methods: {
		setMenu: function() {
			document.title=config.meta.title[store.lang];
			this.homeMenu=[];
			if (this.homeMenu.length<1) {
			    for (var mod of this.$config.allModules) {
			    	if (mod.meta.index) {
			            this.homeMenu.push({title:mod.meta.title[store.lang], icon:mod.meta.icon, to:mod.meta.to, text:mod.meta.text[store.lang], role:mod.meta.role, checkLock:mod.lock,id:mod.id});
			        }
					if (mod.id=='main') {
						this.title=mod.meta.title[store.lang];
						this.subtitle=mod.meta.text[store.lang];
					}
			    }
	    	}
		}
	}
}
</script>


<i18n>
{
	"de": {
		"news-title": "Neuigkeiten"
	},
	"en": {
		"news-title": "News"
	}
}
</i18n>
