<template>
	<center class="my-4">
		<img class="mb-4" src="../../main/img/icon.svg" style="width:12rem">
		<h1 class="h4 mb-3 font-weight-normal">{{$t('please-login')}}</h1>
		<form class="form-signin" @submit.prevent="login()">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<wait-icon v-if="wait"/>
			<label class="sr-only" for="login">{{$t('username')}}</label>
			<input class="login form-control" type='text' :placeholder="$t('username')" name='login' v-model="username" required autofocus>
			<label class="sr-only" for="password">{{$t('password')}}</label>
			<input class="password form-control" type='password' :placeholder="$t('password')" name='password' v-model="password" required>
			<br>
			<button type="submit" class="btn btn-lg btn-primary btn-block">{{$t('login')}}</button>
		</form>
		<router-link class="d-block" :to="{ name: 'main-reset-request'}">» {{$t('forgot-password')}}</router-link>
		<router-link v-if="registration" class="d-block" :to="{ name: 'main-register-request'}">» {{$t('register-account')}}</router-link>
	</center>
</template>

<script>
	import WarningList from '../../main/components/WarningList.vue';
	import WaitIcon from '../../main/components/WaitIcon.vue';
	import store from '../../main/js/store.js';

	export default {
		name:"login",
		components: {WarningList,WaitIcon},
		data: function() {
			return {
				username:'',
				password:'',
				warnings:[],
				registration:false,
				wait:false
			}
		},
		mounted: function() {
			this.$axios.get('main/registration-state').then(response=> {
				this.registration=response.data.allowed;
			})
		},
		methods: {
			login: function() {
				this.warnings=[];
				this.wait=true;
				this.$axios.post('main/login', {login:this.username, password:this.password}).then(response=> {
					this.wait=false;
					//failed
					if (response.data[0]) {
						this.warnings=response.data;
						store.user.clear();
					}
					//success
					else {
						store.user.name=response.data.name;
						store.user.login=response.data.login;
						store.user.roles=response.data.roles;
						store.lang=response.data.lang;
						store.user.accessToken=response.data.token.access_token;
						store.user.refreshToken=response.data.token.refresh_token;
						if (response.data.lang) {
							this.$i18n.locale=response.data.lang;
							document.documentElement.setAttribute('lang', response.data.lang);
						}
						this.$router.push('main-index');
					}
				});
			}
		}
	}
</script>

<style src="../../main/css/signin.css"/>

<i18n>
{
	"de": {
		"please-login": "Bitte melden Sie sich an",
		"username": "Benutzername",
		"password": "Passwort",
		"login": "Anmelden",
		"forgot-password": "Passwort vergessen",
		"register-account": "Neuen Account registrieren"
	},
	"en": {
		"please-login": "Please login",
		"username": "Username",
		"password": "Password",
		"login": "login",
		"forgot-password": "Forgot Password",
		"register-account": "Register a new account"
	}
}
</i18n>
