<template>
</template>

<script>
	import store from '../../main/js/store.js';

	export default {
		name:"logout",
		mounted() {
			this.$axios.post('main/logout').then(response=> {
				store.user.clear();
				this.$router.push({name:'main-index'});
			})
		}
	}
</script>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>
