<template>
	<section>
		<PageTitle :title="$t('title')" :subtitle="$t('subtitle')"/>
		<center>
			<p style="font-size:48pt;margin:1em 0em;padding:12pt;text-align:center">¯\_(ツ)_/¯</p>
			<router-link class="btn btn-primary" :to="{ name: 'main-index' }">{{$t('to-home')}}</router-link>
		</center>
	</section>
</template>

<script>
	import PageTitle from '../../main/components/PageTitle.vue';

	export default {
		components: {PageTitle},
	}
</script>


<i18n>
{
	"de": {
		"title": "Fehler",
		"subtitle":"... der Zugriff auf diese Seite ist leider nicht mehr möglich!",
		"to-home": "zur Startseite"
	},
	"en": {
		"title": "Error",
		"subtitle": "... unfortunately access to this page is no longer possible!",
		"to-home": "To the homepage"
	}
}
</i18n>
