<template>
	<section v-if="notFound">
		<PageTitle :title="$t('title')" :subtitle="$t('subtitle')"/>
		<center>
			<p style="font-size:48pt;margin:1em 0em;padding:12pt;text-align:center">¯\_(ツ)_/¯</p>
			<router-link class="btn btn-primary" :to="{ name: 'main-index' }">{{$t('to-home')}}</router-link>
		</center>
	</section>
</template>

<script>
	import PageTitle from '../../main/components/PageTitle.vue';

	export default {
		components: {PageTitle},
		mounted: function() {
			var ticket=this.$route.params.ticket;
			if (!ticket || !ticket.match(this.$consts.REGEX_TICKET)) {
				this.notFound=true;
				return;
			}
			this.$axios.get('main/shortlink/'+ticket).then(response=> {
				if (response.data.url) {
					window.location.href=response.data.url;
				}
				else this.notFound=true;
			})
		},
		data: function() {
			return {
				notFound:false
			}
		}
	}
</script>


<i18n>
{
	"de": {
		"title": "Hinweis",
		"subtitle":"... der Zugriff auf diese Seite ist leider nicht mehr möglich!",
		"to-home": "zur Startseite"
	},
	"en": {
		"title": "Error",
		"subtitle": "... unfortunately access to this page is no longer possible!",
		"to-home": "To the homepage"
	}
}
</i18n>
