<template>
	<section>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')"/>
		<div class="container">
			<table class="table">
				<tr><th>{{info.name}}</th><th>{{info.version}}</th></tr>
				<tr v-for="(version,lib) in info.dependencies">
					<td class="py-0 my-0" >{{lib}}</td><td class="py-0 my-0" >{{version}}</td>
				</tr>
			</table>
			<button class="mr-1 mt-3 btn btn-secondary" v-on:click="$router.push('main-admin')">{{$t('back')}}</button>
		</div>
	</section>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';

export default {
	components: {PageTitle},
	data: function() {
		return {
			info:{}
		}
	},
	mounted: function() {
		this.$axios.get('main/admin/version').then(response=> { this.info=response.data.info } );
	}
}
</script>


<i18n>
{
	"de": {
		"title":"Information",
		"subtitle":"Version und eingesetzte Bibliotheken",
		"back":"zurück"
	},
	"en": {
		"title":"Information",
		"subtitle":"Version and uses libraries",
		"back":"back"
	}
}
</i18n>
