<template>
	<div class="container">
		<warning-list v-if="warnings" :warnings="warnings"/>
		<wait-icon v-if="!allItems"/>
		<div class="card shadow my-4">
			<div class="card-header bg-dark text-white">{{title? title :$t('overview')}}</div>
			<search-box v-on:search="text=> {this.searchText=text}"/>
			<table class="card-body table table-striped my-0">
				<tr class="bg-var">
					<th style="cursor: pointer" v-on:click="sort('owner')">{{$t('author')}}</th>
					<th style="cursor: pointer" v-on:click="sort('title')">{{$t('title-label')}}</th>
					<th style="cursor: pointer" v-on:click="sort('desc')">{{$t('description')}}</th>
					<th style="cursor: pointer" v-on:click="sort('ts')">{{$t('timestamp')}}</th>
					<th>{{$t('action')}}</th>
				</tr>
				<tr v-for="item in allItems" v-show="search(item)">
					<td>{{item.owner}}</td>
					<td>{{item.title? item.title : item.name}}</td>
					<td>{{item.desc}}</td>
					<td>{{item.ts ? (new Date(item.ts)).toLocaleDateString(store.lang) : '–'}}</td>
					<td>
						<tooltip-icon :tip="$t('delete')"  src="../img/delete.svg" v-on:click="del(item)"/>
					</td>
				</tr>
			</table>
		</div>
		<button class="mr-1 mt-3 btn btn-secondary" v-on:click="$router.push('main-admin')">{{$t('back')}}</button>

		<modal-confirm v-if="showModalConfirmDelete" v-on:close="showModalConfirmDelete=false" v-on:accept="acceptDelete()">
			{{$t('confirm-delete',{title:dialogItem.title? dialogItem.title : dialogItem.name})}}
		</modal-confirm>
	</div>
</template>

<script>
import PageTitle from './PageTitle.vue';
import ModalConfirm from './ModalConfirm.vue';
import TooltipIcon from './TooltipIcon.vue';
import WarningList from './WarningList.vue';
import WaitIcon from './WaitIcon.vue';
import SearchBox from './SearchBox.vue';
import store from '../../main/js/store.js';


export default {
	name: 'admin-list',
	components: { PageTitle, TooltipIcon,  ModalConfirm, WarningList, WaitIcon, SearchBox},
	props: ['getUrl', 'delUrl', 'title'],
	data: function() {
		return {
			store:store,
			showModalConfirmDelete:false,
			warnings:'',
			dialogItem:{},
			searchText:'',
			allItems:false,
		}
	},
	mounted: function() {
		if (!store.user.hasRole('admin')) {
			this.$router.push({name:'main-index'});
		}
		else {
			this.$axios.get(this.getUrl).then(response=> {this.allItems=response.data;})
		}
	},
	methods: {
		del: function(item) {
			this.dialogItem=item;
			this.showModalConfirmDelete=true;
		},
		acceptDelete: function() {
			var item=this.dialogItem;
			this.showModalConfirmDelete=false;
			this.$axios.delete(this.delUrl+item._id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				else this.$axios.get(this.getUrl).then(response=> {this.allItems=response.data;})
			})
		},
		search: function (item) {
			var s=this.searchText.toLowerCase();
			return s=='' ||
				(item.owner && item.owner.toLowerCase().indexOf(s)>=0) ||
				(item.name && item.name.toLowerCase().indexOf(s)>=0) ||
				(item.title && item.title.toLowerCase().indexOf(s)>=0) ||
				(item.desc && item.desc.toLowerCase().indexOf(s)>=0)
		},
		sort: function(attribute) {
			if (!this.allItems || this.allItems.length==0) return;
			if (attribute=='title' && !this.allItems[0].title) attribute='name';
			this.allItems.sort(this.compareValues(attribute));
		},
		compareValues: function (key, order='asc') {
			return function innerSort(a, b) {
				if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) return 0;
				const varA=(typeof a[key]==='string') ? a[key].toUpperCase() : a[key];
				const varB=(typeof b[key]==='string') ? b[key].toUpperCase() : b[key];
				var result=0;
				if (varA > varB) result=1;
				else if (varA < varB) result=-1;
				return ((order==='desc') ? (result * -1) : result );
			};
		}
	}
}
</script>


<i18n>
{
	"de": {
		"overview": "Übersicht",
		"author": "Author",
		"title-label": "Titel",
		"description": "Beschreibung",
		"action": "Aktion",
		"delete": "Löschen",
		"back": "Zurück",
		"timestamp": "Letzte Änderung",
		"confirm-delete": "Möchten Sie den Eintrag „{title}“ wirklich löschen?"
	},
	"en": {
		"overview": "Overview",
		"author": "Author",
		"title-label": "Title",
		"description": "Description",
		"action": "Action",
		"delete": "Delete",
		"back": "Back",
		"timestamp": "Last change",
		"confirm-delete": "Do you really want to delete the entry “{title}”?"
	}
}
</i18n>
