<template>
	<div>
		<input class="form-control-file" type="file" v-on:change="fileSelected">
		<warning-list v-if="warnings" :warnings="warnings"/>
	</div>
</template>

<script>
	import imageCompression from 'browser-image-compression';
	import WarningList from './WarningList.vue';
	export default {
		props: ['maxsize'],
		components: {WarningList},
		data: function() {
			return {
				warnings:false
			}
		},
		methods: {
			//Upload image
			fileSelected: function(event) {
				var imageFile=event.target.files[0];
				//compress png and jpg
				var maxSizeMB=this.maxsize ? this.maxsize/1024/1024 :0.1;
				if (imageFile.type=="image/jpeg" || imageFile.type=="image/png") {
					var options={ maxSizeMB: this.maxsize/1024/1024, maxWidthOrHeight: 1080, useWebWorker: false };
					try {
					   	imageCompression(imageFile, options).then((compressedFile)=> {
						   	console.log(`compressedFile size ${compressedFile.size / 1024} kB`);
							this.$emit('upload',compressedFile);
							this.warnings=false;
						});
					}
					catch (error) {
						this.warnings=[{msg:'unsupported-image'}];
					}
				}
				//dont compress svg
				else if (imageFile.type=="image/svg" || imageFile.type=="image/svg+xml") {
					if (imageFile.size>this.maxsize) {
						this.warnings=[{msg:'image-to-large', params: {size:this.maxsize/1024}}];
						return;
					}
					this.$emit('upload',imageFile);
					this.warnings=false;
				}
				//unsupported format
				else {
					this.warnings=[{msg:'unsupported-image'}];
				}
			},
		}
	}
</script>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>