<template>
	<modal-dialog v-on:close="$emit('close')">
		<template v-slot:header>
			<slot name="header">{{$t('info')}}</slot>
		</template>
		<slot></slot>
		<template v-slot:footer>
			<slot name="footer">
				<button class="btn btn-secondary" v-on:click="$emit('close')">{{$t('close')}}</button>
			</slot>
		</template>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	export default {
		components: {ModalDialog},
		name: 'modal-info'
	}
</script>


<i18n>
{
	"de": {
		"info": "Information",
		"close": "Schließen"
	},
	"en": {
		"info": "Information",
		"close": "Close"
	}
}
</i18n>