<template>
	<modal-dialog v-on:close="$emit('close')">
		<template v-slot:header>{{$t('share')}}</template>
		<div class="card-body bg-white">
			<p v-if="text">{{text}}</p>
			<p v-else>{{$t('share-info')}}</p>
			<div class="input-group">
				<input id="mixinModalShareUrl" class="form-control" :value="link" >
				<div class="input-group-append" v-if="!shortened && login">
					<button class="btn btn-secondary input-group-text" v-on:click="shorten()">{{$t('shorten')}}</button>
				</div>
			</div>
			<center>
				<vue-qrcode v-if="link" :value="link" v-on:click="followUrl()"/>
			</center>
		</div>
		<template v-slot:footer>
			<button class="mr-1 btn btn-secondary" v-on:click="copy">{{$t('copy-url')}}</button>
			<button class="btn btn-primary mr-1" v-on:click="$emit('close')">{{$t('close')}}</button>
		</template>
	</modal-dialog>
</template>

<script>
	import VueQrcode from 'vue-qrcode';
  	import ModalDialog from "./ModalDialog.vue";
	import store from "../js/store.js";

	export default {
		name:'modal-share',
		components: { ModalDialog, VueQrcode},
		props:['url','text'],
		data:function() {
			return {
				link:this.url,
				shortened:false,
				login:store.user.login
			}
		},
		methods: {
			copy: function() {
				 var copyText=document.getElementById("mixinModalShareUrl");
				 copyText.select();
				 document.execCommand("copy");
			},
			followUrl: function() {
				location.href=this.url;
			},
			shorten: function() {
				this.$axios.put('main/shortlink',{url:this.url}).then(response=> {
					if (response.data.ticket) {
						var location=window.location.toString();
						var base=location.substring(0,location.lastIndexOf('#'))+'#';
						this.link=base+'/'+response.data.ticket;
						this.shortened=true;
					}
					else this.link=this.url;
				})
			}
		}
	}
</script>

<style scoped src='../css/modal.css'/>


<i18n>
{
	"de": {
		"share": "Teilen",
		"shorten": "Kürzen",
		"share-info": "Bitte Veröffentlichen Sie diesen Link nicht offen im Internet – dieser Webserver ist dafür nicht ausgelegt. Danke!",
		"copy-url": "URL kopieren",
		"close": "Schließen"
	},
	"en": {
		"share": "Share",
		"shorten": "Shorten",
		"share-info": "Please do not publish this link openly on the internet - this web server is not designed for this. Thanks!",
		"copy-url": "Copy URL",
		"close": "Close"
	}
}
</i18n>
