<template>
	<modal-info v-on:close="$emit('close')">
		<template v-slot:header>{{$t('settings')}}</template>
		<div class="card-body bg-white">
			<label>{{$t('design')}}</label>
			<select v-model="design" class="form-control">
				<option value='dark'>{{$t('design-dark')}}</option>
				<option value='light'>{{$t('design-light')}}</option>
			</select>
			<label class="mt-2">{{$t('language')}}</label>
			<select v-model="lang" class="form-control">
				<option v-for="lng in $consts.SUPPORTED_LANGUAGES" :value="lng">{{lng}}</option>
			</select>
		</div>
	</modal-info>
</template>

<script>
	import store from '../js/store.js';
	import ModalInfo from "./ModalInfo.vue";
	export default {
		components: {ModalInfo},
		name:"modal-settings",
		data:function() {
			return {
				design:store.design,
				lang:store.lang
			}
		},
		watch: {
			design: function() {
				store.design=this.design;
				document.body.setAttribute('data-theme',store.design);
			},
			lang: function() {
				store.lang=this.lang;
				this.$root.$i18n.locale=this.lang;
				document.documentElement.setAttribute('lang', this.lang);
			}
		}
	}
</script>


<i18n>
{
	"de": {
		"settings": "Einstellungen",
		"design": "Design",
		"design-dark": "Dunkles Design",
		"design-light": "Helles Design",
		"language": "Sprache"
	},
	"en": {
		"settings": "Settings",
		"design": "Design",
		"design-dark": "Dark design",
		"design-light": "Light design",
		"language": "Language"
	}
}
</i18n>
