<template>
	<div class="jumbotron text-center">
		<div class="container">
			<h1>{{title}}</h1>
			<p class="lead">{{subtitle}}</p>
			<router-link class="btn btn-secondary" v-if="buttonto" :to="{name: buttonto}">{{button}} </router-link>
			<a class="btn btn-secondary" v-else-if="buttonhref && buttonhref.charAt(0)!='#'" target="_blank" :href="buttonhref">{{button}} »</a>
			<a class="btn btn-secondary" v-else-if="buttonhref" :href="buttonhref">{{button}} »</a>
			<button class="btn btn-secondary" v-else-if="button" v-on:click="$emit('click')">{{button}} </button>
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'page-title',
		props: ['title','subtitle','button','buttonto','buttonhref'],
		mounted: function() {
			window.scrollTo(0,0);
			document.title=this.title;
			document.querySelector('meta[name="description"]').setAttribute("content", this.subtitle ? this.subtitle : '');
		}
	}
</script>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>
