<template>
	<div>
		<div v-if="warning" class="container">
			<div class="alert alert-warning">{{warning}}</div>
		</div>
		<div class="container my-4 text-block" ref="markdown-block-container"></div>
	</div>
</template>

<script>
import store from '../js/store.js';
import MarkdownIt from 'markdown-it';
import MarkdownItAttrs from 'markdown-it-attrs';
import MarkdownItTexmath from 'markdown-it-texmath';

export default {
    name: 'tex-block',
	props: ['text'],
	data: function() {
		return {
			store:store,
			warning:""
		}
	},
	watch: {
		"store.lang": function() { this.updateMarkdown() }
	},
	mounted: function() {
		this.updateMarkdown();
	},
	methods: {
		updateMarkdown: async function() {
			this.$refs['markdown-block-container'].innerHTML="";
			this.warning='';
			var input=this.text[store.lang];
			if (!input) return this.warning=this.$t('lang-not-available');
			var md=new MarkdownIt();
			md.use(MarkdownItAttrs);
			md.use(MarkdownItTexmath);
			this.$refs['markdown-block-container'].innerHTML=md.render(input);
		}
	}
}
</script>

<style >
.text-page {-ms-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
</style>


<style src='../../../node_modules/katex/dist/katex.min.css'/>
<style src='../css/text-block.css'/>

<i18n>
{
	"de": {
		"lang-not-available":"Das Dokument steht leider nur in einer anderen Sprache zur Verfügung."
	},
	"en": {
		"lang-not-available": "Unfortunately, the requested document is only available in another language."
	}
}
</i18n>
