<template>
	<span class="mytooltip">
		<slot/>
		<!--only show on medium or larger screens-->
  		<span class="mytooltiptext d-none d-md-inline">{{tip}}</span>
	</span>
</template>

<script>
	export default {
		name: 'tooltip-icon',
		props: [ 'tip']
	}
</script>

<style scoped src="../css/tooltip.css"/>


<i18n>
{
	"de": {},
	"en": {}
}
</i18n>
