<template>
	<div class="alert alert-warning tex-left" v-if="warnings[0]" >
		<p class="my-0 pb-1" v-for="entry in entries">{{ $t(entry) }}</p>
	</div>
</template>

<script>
	export default {
		name: "warning-list",
		props: ['warnings'],
		data: function() {
			return {
				entries:[]
			}
		},
		mounted: function() {this.filterWarnings()},
		watch: {
			warnings: function() {this.filterWarnings()}
		},
		methods: {
			filterWarnings: function() {
				//filter warnings of same type
				this.entries=[];
				for (var warning of this.warnings) {
					if (this.entries.indexOf(warning.msg)<0) this.entries.push(warning.msg);
				}
			}
		}
	}
</script>


<i18n>
{
	"de": {
		"validation-error": "Bitte prüfen Sie Ihre Eingaben, diese sind entweder unvollständig oder ungültig.",
		"not-available": "Diese Resource ist leider nicht mehr verfügbar",
		"not-allowed": "Diese Aktion ist nicht erlaubt",
		"database-error": "Die Informationen konnten nicht in der Datenbank gespeichert werden. Bitte starten Sie den Vorgang neu.",
		"no-file-selected": "Keine Datei ausgewählt",
		"ticket-not-imported": "Das Ticket konnte nicht übernommen werden, da es nicht eindeutig ist.",
		"ticket-taken": "Dieses Ticket wird bereits benutzt - bitte wählen Sie ein anderes",
		"ticket-invalid": "Dieses Ticket ist leider nicht bzw. nicht mehr gültig.",
		"nickname-taken": "Dieser Spitzname wird aktuell bereits benutzt.",
		"max-user-number-reached": "Dieser Raum ist „voll“ und es können keine neuen Nachrichten geschrieben werden.",
		"unknown-error": "Ein unbekannter Fehler ist aufgetreten. Bitte schließen Sie den Browser und starten Sie die Anwendung neu.",
		"already-deleted": "Diese Resource bzw. dieses Element wurde inzwischen schon gelöscht.",
		"url-missing": "Bitte geben Sie eine Internet Adresse an.",
		"url-invalid": "Bitte geben Sie eine gültige Internet Adresse an.",
		"filessize-exceeded": "Die maximale Dateigröße ist überschritten.",
		"max-number-reached": "Die Maximale Anzahl an Elementen bzw. Einträgen ist leider erreicht.",
		"forbidden": "Aktion ist nicht erlaubt",
		"filename-invalid": "Bitte verwenden Sie nur Zeichen, Ziffern, Unter- und Bindestriche für Verzeichnisse und Dateien",
		"error": "Fehler",
		"language-invalid": "Ungültige Sprache",
		"login-failed": "Unbekannter Benutzername bzw. ungültiges Passwort",
		"account-locked": "Benutzer gesperrt",
		"please-login": "Bitte melden Sie sich an",
		"wrong-password": "Aktuelles Passwort nicht korrekt",
		"passwords-dont-match": "Passwörter stimmen nicht überein",
		"username-taken": "Dieser Benutzername oder die E-Mail-Adresse ist bereits vergeben.",
		"cant-delete-yourself": "Ein Admin kann sich nicht selbst löschen.",
		"captcha-wrong": "Der eingegebene Captcha Text ist falsch",
		"email-not-existing": "Diese E-Mail Adresse ist leider nicht bekannt",
		"process-expired": "Der Vorgang ist bereits abgeschlossen - oder zwischen Antrag und Bestätigung lag ein zu großer Zeitraum.",
		"email-taken": "Diese E-Mail Adresse wird leider bereits benutzt",
		"login-taken": "Dieser Benutzername ist leider schon vergeben",
		"info-kicked": "Sie wurden aus dieser Anwendung herausgeworfen...",
		"invalid-tan": "Ungültiger Bestätigungs-Code"
	},
	"en": {
		"not-available": "This resource is not available anymore",
		"not-allowed": "This action is not allowed",
		"database-error": "The information could not be saved in the database. Please restart the process.",
		"no-file-selected": "No file selected",
		"ticket-not-imported": "The ticket could not be accepted because it is not unique.",
		"ticket-taken": "This ticket is already used - please choose a different one.",
		"ticket-invalid": "This ticket is wrong - or no longer valid.",
		"nickname-taken": "This nickname is already in use.",
		"max-user-number-reached": "This room is \"full\" and no new messages can be written.",
		"unknown-error": "An unknown error has occurred.",
		"already-deleted": "This resource or elmeent has already been deleted.",
		"url-missing": "Please enter an internet address.",
		"url-invalid": "Please enter a valid internet address.",
		"filessize-exceeded": "The maximum file size is exceeded.",
		"max-number-reached": "Maximum number of items has been reached.",
		"forbidden": "This action is forbidden",
		"filename-invalid": "Please only use characters, numbers, underscores and hyphens for directories and files",
		"error": "Error",
		"language-invalid": "Invalid language",
		"login-failed": "Unknown username or invalid password",
		"account-locked": "Account locked",
		"please-login": "Please login",
		"wrong-password": "Current password not correct",
		"passwords-dont-match": "Passwords do not match",
		"username-taken": "This username is already taken",
		"cant-delete-yourself": "A admin can not delete himself.",
		"captcha-wrong": "The entered captcha text is wrong",
		"email-not-existing": "Unfortunately this email address is not known",
		"process-expired": "The process has already been completed - or there was too much time between the application and the confirmation.",
		"email-taken": "Unfortunately, this email address is already in use",
		"login-taken": "This username already exists",
		"validation-error": "Please check your input, it is either incomplete or invalid.",
		"info-kicked": "You have been kicked...",
		"invalid-tan": "Invalid confirmation code"
	}
}
</i18n>
