<template>
	<div>
		<tooltip-icon :tip="$t('insert-emoji')" src="../img/smiley.svg" v-on:click="showModalEmoji=true"/>

		<modal-info v-if="showModalEmoji" v-on:close="showModalEmoji=false">
			<template v-slot:header>{{$t('insert-emoji')}}</template>
			<div class="row">
				<button class="btn btn-light" v-for="char in charsEmote" v-on:click="$emit('select',char);showModalEmoji=false">
					<span style='font-size:150%' v-html="char"></span>
				</button>
			</div>
		</modal-info>
	</div>
</template>

<script>
	import ModalInfo from 'Main/components/ModalInfo.vue';
	import TooltipIcon from 'Main/components/TooltipIcon.vue';

	export default {
		components: {ModalInfo, TooltipIcon},
		data: function() {
			return {
				charsEmote:[],
				showModalEmoji:false,
			}
		},
		//split string containing unicode characters to array
		mounted: function() {
			for (var i=0; i<this.$consts.CHARS_EMOTE.length; i=i+2) {
				var emoji=this.$consts.CHARS_EMOTE.substring(i,i+2);
				this.charsEmote.push(emoji);
			}
		}
	}

</script>


<i18n src="../locales/EmojiSelect.json"/>
