<template>
	<modal-dialog v-on:close="$emit('close')" v-on:accept="$emit('accept',tan)">
		<template v-slot:header>{{$t('confirmation')}}</template>
		<div class="card-body bg-white">
			<div class="info">{{$t('tan-info')}}</div>
			<input class="form-control" v-model='tan'/>
			<slot></slot>
		</div>
	</modal-dialog>
</template>

<script>
	import ModalDialog from "./ModalDialog.vue";
	export default {
		components: {ModalDialog},
		name: 'modal-confirm',
		data: function() {
			return {
				tan:''
			}
		},
		mounted() {
			this.tan='';
			this.$axios.get('main/tan-request');
		}
	}
</script>


<i18n src="../locales/ModalInputTan.json"/>
