<template>
	<div class="jumbotron text-center">
		<div class="container">
			<h1>{{title}}</h1>
			<p class="lead"></p>
			<div style="line-height: 1.25;font-size: 18px;" v-html="subtitle"></div>
			<router-link class="btn btn-secondary" v-if="buttonto" :to="{name: buttonto}">{{button}} </router-link>
			<a class="btn btn-secondary" v-else-if="buttonhref && buttonhref.charAt(0)!='#'" target="_blank" :href="buttonhref">{{button}} »</a>
			<a class="btn btn-secondary" v-else-if="buttonhref" :href="buttonhref">{{button}} »</a>
			<button class="btn btn-secondary" v-else-if="button" v-on:click="$emit('click')">{{button}} </button>
			<slot></slot>
		</div>
	</div>
</template>

<script>
	import md from "Main/js/markdown.js";
	export default {
		name: 'page-title',
		props: ['title','subtitle','button','buttonto','buttonhref'],
		watch: {
			title: function() {this.setMeta()},
			//subtitle: function() {this.setMeta()}
			subtitle: function() {this.escapeText(this.subtitle)}
		},
		mounted: function() {
			window.scrollTo(0,0);
			this.setMeta();
		},
		methods: {
			escapeText: function (text) {
				return md.render(text);
			},
			setMeta: function() {
				document.title=this.title;
				document.querySelector('meta[name="description"]').setAttribute("content", this.subtitle ? this.subtitle : '');
			}
		}
	}
</script>


<i18n src="../locales/PageTitle.json"/>

