<template>
	<div>
		<page-title :title="$t('title')" />
		<admin-list getUrl="abcd/admin/sets-meta" delUrl="abcd/admin/sets/"/>
  	</div>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';
import AdminList from '../../main/components/AdminList.vue';

export default {
	name: 'abcd-admin',
	components: { PageTitle, AdminList},
}
</script>





<i18n>
{
	"de": {
		"title": "ABCD-Quiz"
	},
	"en": {
		"title": "ABCD-Quiz"
	}
}
</i18n>