<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')" :button="$t('manual')" buttonhref='#/text-abcd-help'/>

		<div class="container mt-3">
			<wait-icon v-if="loading"/>
			<search-box v-on:search="text=> {this.searchText=text}"/>

			<div v-if="allAbcdSets && allAbcdSets.length>0">
				<warning-list v-if="warnings" :warnings="warnings"/>

				<div  v-for="i in [0,1]">
					<p class="h4 mt-4" v-if="i==0">{{$t('own-sets')}}</p>
					<p class="h4 mt-4" v-else>{{$t('other-sets')}}</p>
					<table class="table table-striped mt-2 border shadow">
						<tr class="bg-primary text-white">
							<th class="d-none d-md-table-cell">{{$t('subject')}}</th>
							<th>{{$t('quiz')}}</th>
							<th class="d-none d-sm-table-cell">{{$t('description')}}</th>
							<th v-if="i==1" class="d-none d-md-table-cell">{{$t('author')}}</th>
							<th >{{$t('action')}}</th>
						</tr>

						<tr class="abcd-tr" v-for="set in allAbcdSets"
							v-if="search(set) && ((i==0 && set.owner==store.user.login)|| i==1 && set.owner!=store.user.login)">
							<td class="d-none d-md-table-cell">{{set.subject}}</td>
							<td class="abcdTitle">{{set.title}}</td>
							<td class="d-none d-sm-table-cell">{{set.desc}}</td>
							<td v-if="i==1" class="d-none d-md-table-cell">{{set.owner}}</td>
							<td style="white-space: nowrap;">
								<tooltip-icon  :tip="$t('start')" src="../../main/img/start.svg" v-on:click="start(set)"/>
								<tooltip-icon v-if="set.owner==store.user.login" :tip="$t('edit')" src="../../main/img/edit.svg" v-on:click="edit(set)"/>
								<tooltip-icon v-if="set.ticket" :tip="$t('share')" src="../../main/img/share.svg" v-on:click="share(set)"/>
								<tooltip-icon :tip="$t('copy')" src="../../main/img/duplicate.svg" v-on:click="copy(set)"/>
								<tooltip-icon :tip="$t('export')" src="../../main/img/export.svg" v-on:click="exportJson(set)"/>
								<tooltip-icon v-if="set.owner==store.user.login" :tip="$t('delete')" src="../../main/img/delete.svg" v-on:click="del(set)"/>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div v-else class="alert alert-primary">{{$t('no-quiz')}}</div>
			<div class="text-right">
				<tooltip-icon :tip="$t('hint-create')" size="big" src="../../main/img/plus-primary.svg" v-on:click="showModalCreate=true"/>
				<tooltip-icon :tip="$t('hint-import')" size="big" src="../../main/img/import-primary.svg" v-on:click="showModalImport=true"/>
			</div>
		</div>

		<modal-dialog v-show="showModalCreate" v-on:accept="create()" v-on:close="showModalCreate=false">
			<template v-slot:header>{{$t('create-new-set')}}</template>
			<p>{{$t('create-new-text1')}}</p>
			<p>{{$t('create-new-text2')}}</p>
			<div class="form-group">
				<input class="form-control" v-model="createTitle" :placeholder="$t('hint-title')">
			</div>
		</modal-dialog>

		<modal-dialog v-show="showModalImport" v-on:close="showModalImport=false" v-on:accept="importJson()">
			<template v-slot:header>{{$t('import-set')}}</template>
			<p>{{$t('import-text')}}</p>
			<br>
			<input class="form-control-file mr-2" type="file" v-on:change="importFileChange" name="abcdFile">
		</modal-dialog>

		<modal-confirm v-if="showModalConfirmDelete" v-on:close="showModalConfirmDelete=false" v-on:accept="acceptDelete()">
			{{$t('confirm-delete-set',{title:dialogSet.title})}}
		</modal-confirm>

		<modal-dialog v-if="showModalCopy" v-on:close="showModalCopy=false" v-on:accept="acceptCopy()">
			<template v-slot:header>{{$t('copy-set')}}</template>
			<input class="form-control" v-model="copyTitle" :placeholder="$t('hint-title')"
				:class="{'is-invalid':!$v(copyTitle,true,$consts.REGEX_TEXT_300)}">
		</modal-dialog>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :text="$t('share-info')" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';
import ModalDialog from '../../main/components/ModalDialog.vue';
import ModalShare from '../../main/components/ModalShare.vue';
import ModalConfirm from '../../main/components/ModalConfirm.vue';
import TooltipIcon from '../../main/components/TooltipIcon.vue';
import WarningList from '../../main/components/WarningList.vue';
import WaitIcon from '../../main/components/WaitIcon.vue';
import SearchBox from '../../main/components/SearchBox.vue';
import store from '../../main/js/store.js';
import download from '../../main/js/download.js';
//import generator from '../../main/js/password-generator'
import generator from '../../main/js/password-generator';

export default {
	name: 'home',
	components: { PageTitle, TooltipIcon, ModalDialog, ModalShare, ModalConfirm, WarningList, WaitIcon, SearchBox},
	data: function() {
		return {
			allAbcdSets:[],
			searchText:'',
			store:store,
			showModalCreate:false,
			showModalImport:false,
			showModalConfirmDelete:false,
			showModalCopy:false,
			shareUrl:'',
			warnings:'',
			importFiles:[],
			dialogSet:{},
			createTitle:'',
			copyTitle:'',
			loading:true,
		}
	},
	mounted: function() {
		if (!store.user.hasRole('abcd')) {
			this.$router.push({name:'abcd-login'});
		}
		else {
			this.$axios.get('abcd/sets-meta').then(response=> {
				this.allAbcdSets=response.data;
				this.loading=false;
			})
		}
	},
	methods: {
		share: function(set) {
			var ticket=set.ticket;
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/abcd-show/'+ticket;
		},
		search: function (set) {
			var s=this.searchText.toLowerCase();
			return s=='' ||
				(set.title && set.title.toLowerCase().indexOf(s)>=0) ||
				(set.subject && set.subject.toLowerCase().indexOf(s)>=0) ||
				(set.owner && set.owner.toLowerCase().indexOf(s)>=0) ||
				(set.desc && set.desc.toLowerCase().indexOf(s)>=0);
		},
		start: function(set) {
			this.$router.push({name:'abcd-run',params:{id:set._id}})
		},
		exportJson: function(set) {
			this.toJson(set, (abcd)=> {
				download.downloadJson(abcd);
			})
		},
		toJson: function(set, callback) {
			this.$axios.get('abcd/sets/'+set._id).then(response=> {
				var abcd=Object.assign({}, response.data);
				//remove unecessary information
				delete abcd._id;
				delete abcd.__v;
				delete abcd.owner;
				for (var question of abcd.questions) {
					delete question._id;
				}
				callback(abcd);
			})
		},
		importFileChange: function(e) {
			var files=e.target.files || e.dataTransfer.files;
			this.importFiles=files;
			this.warnings='';
		},
		importJson: function() {
			this.showModalImport=false;
			if (!this.importFiles.length) {
				return;
			}
			var reader=new FileReader();
			reader.onload=(e)=> {
				try {
					var abcd=JSON.parse(e.target.result);
					this.$axios.post('abcd/sets', {abcd}).then(response=> {
						if (response.data[0]) this.warnings=response.data;
						this.$axios.get('abcd/sets-meta').then(response=> {this.allAbcdSets=response.data;})
					})
				}
				catch (e) {
					this.warnings=[{msg:'import-only-json'}]
				}
			};
			reader.readAsText(this.importFiles[0]);
		},
		del: function(set) {
			this.dialogSet=set;
			this.showModalConfirmDelete=true;
		},
		acceptDelete: function() {
			this.showModalConfirmDelete=false;
			this.$axios.delete('abcd/sets/'+this.dialogSet._id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				for (var i=0; i<this.allAbcdSets.length; i++) {
					if (this.allAbcdSets[i]._id==this.dialogSet._id) this.allAbcdSets.splice(i,1);
				}
			})
		},
		create: function() {
			this.$router.push({name:'abcd-edit',params:{title:this.createTitle}})
		},
		edit: function(set) {
			this.$router.push({name:'abcd-edit',params:{id:set._id}})
		},
		copy: function(set) {
			this.dialogSet=set;
			this.showModalCopy=true;
		},
		acceptCopy: function() {
			this.toJson(this.dialogSet, (abcd)=> {
				abcd.title=this.copyTitle;
				abcd.ticket=generator.generate({length:8, numbers: true});
				this.$axios.post('abcd/sets', {abcd}).then(response=> {
					if (response.data[0]) this.warnings=response.data;
					else this.warnings='';
					this.showModalCopy=false;
					this.$axios.get('abcd/sets-meta').then(response=> {this.allAbcdSets=response.data;})
				})
			})
		},

	}
}
</script>





<i18n>
{
	"de": {
		"title": "ABCD-Quiz",
		"subtitle": "Ein ABCD-Quiz beinhaltet eine Reihe von Fragen, zu denen jeweils 4 Antworten angezeigt werden – aber nur eine dieser Antworten ist korrekt. Alle Teilnehmer beantworten die Fragen der Reihe nach, wobei pro Frage immer nur eine gewisse Zeitspanne vorgesehen ist. Weitere Informationen und Tipps zur Bedienung finden Sie in der Anleitung.",
		"manual": "Anleitung",
		"subject": "Fach",
		"quiz": "Quiz",
		"description": "Beschreibung",
		"author": "Author",
		"action": "Aktion",
		"start": "Start",
		"edit": "Bearbeiten",
		"share": "Teilen",
		"copy": "Kopieren",
		"export": "Export",
		"delete": "Löschen",
		"no-quiz": "Derzeit ist noch kein ABCD-Quiz vorhanden. Legen Sie ein neues an, indem Sie auf das Plus-Symbol klicken – oder importieren Sie eines!",
		"hint-create": "Neue ABCD-Fragensammlung",
		"hint-import": "ABCD-Quiz importieren",
		"create-new-set": "Neue Fragensammlung anlegen",
		"create-new-text1": "Fragensammlungen, die von Ihnen als „öffentlich“ gekennzeichnet sind, stehen allen anderen Nutzern unter der Lizenz CC-BY-NC zur Verfügung.",
		"create-new-text2": "Außerdem können Sie Fragensammlungen über ein Ticket den Teilnehmern per Link zur Verfügung stellen.",
		"hint-title": "Titel der Fragensammlung",
		"import-set": "Fragensammlung importieren",
		"import-text": "Wählen Sie die zu importierende json-Datei aus und drücken Sie anschließend „importieren“",
		"confirm-delete-set": "Möchten Sie die Fragensammlung „{title}“ wirklich löschen?",
		"copy-set": "Kopie des Quiz erstellen",
		"share-info": "Bitte Veröffentlichen Sie diesen Link nicht offen im Internet – dieser Webserver ist dafür nicht ausgelegt. Danke!",
		"own-sets":"Eigene Quiz-Spiele",
		"other-sets":"Weitere Quiz-Spiele"
	},
	"en": {
		"title": "ABCD-Quiz",
		"subtitle": "An ABCD quiz contains a series of questions, each containing 4 answers - but only one is correct. All participants answer the questions in turn, with only one period of time per question. For more information and tips on how to use it, see the instructions.",
		"manual": "Manual",
		"subject": "Subject",
		"quiz": "Quiz",
		"description": "Description",
		"author": "Author",
		"action": "Action",
		"start": "Start",
		"edit": "Edit",
		"share": "Share",
		"copy": "Copy",
		"export": "Export",
		"delete": "Delete",
		"no-quiz": "There is no ABCD quiz available yet. Create a new one by clicking on the plus icon - or import one!",
		"hint-create": "New ABCD Question Collection",
		"hint-import": "Import ABCD Quiz",
		"create-new-set": "Create new question set",
		"create-new-text1": "Question collections that you mark as public are available to all other users under the CC-BY-NC license.",
		"create-new-text2": "In addition, you can provide a collection of questions about a ticket to the participants via a link.",
		"hint-title": "Title of the questionnaire",
		"import-set": "Import question set",
		"import-text": "Select the json file to import and then press <import>",
		"confirm-delete-set": "Do you really want to delete the question set “{title}”?",
		"copy-set": "Duplicate quiz",
		"share-info": "Please do not publish this link openly on the internet - this web server is not designed for this. Thanks!",
		"own-sets":"Own quiz games",
		"other-sets":"Other quiz games"
	}
}
</i18n>
