<template>
	<div>
		<page-title :title="abcd.title" :subtitle="$t('title')"/>
		<div class="container mt-6">
			<warning-list v-if="warnings" :warnings="warnings"/>
			<show-question v-for="question in abcd.questions" :question="question" :key="question.id"/>
		</div>
	</div>
</template>

<script>
	import PageTitle from '../../main/components/PageTitle.vue';
	import WarningList from '../../main/components/WarningList.vue';
	import ShowQuestion from '../components/ShowQuestion.vue';
	import color from '../../main/js/color.js';
	import texit from '../../main/js/texit.js';
	export default {
		components:{PageTitle,ShowQuestion,WarningList},
		data:function() {
			return {
				abcd:{},
				texit:texit,
				helpText:false,
				warnings:false
			}
		},
		mounted: function() {
			var ticket=this.$route.params.ticket;
			this.$axios.get('abcd/part/sets/'+ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.abcd=response.data;
			})
		},
		updated: function() {
			color.setBgVar();
			texit.renderTex();
		},
	}
</script>

<style src='../../../node_modules/katex/dist/katex.min.css'/>





<i18n>
{
	"de": {
		"title": "ABCD-Quiz",
		"answer-correct": "Sehr gut – richtig!",
		"answer-wrong": "Leider falsch ..."
	},
	"en": {
		"title": "ABCD-Quiz",
		"answer-correct": "Very good - right!",
		"answer-wrong": "Sorry, wrong answer"
	}
}
</i18n>
