<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('admin-title')"/>
		<admin-list getUrl="ideas/admin/ideas-meta" delUrl="ideas/admin/ideas/"/>
  	</div>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';
import AdminList from '../../main/components/AdminList.vue';

export default {
	name: 'ideas-admin',
	components: { PageTitle, AdminList},
}
</script>





<i18n>
{
	"de": {
		"title": "Ideensammlung",
		"admin-title": "Ideensammlung - Verwaltung"
	},
	"en": {
		"title": "Brainstorming session",
		"admin-title": "Brainstorming session - administration"
	}
}
</i18n>