<template>
	<div>
		<page-title :title="$t('title')" :subtitle="$t('text')" :button="$t('manual')" buttonhref="#/text-ideas-help"/>

		<div class="container mt-3">
			<wait-icon v-if="loading"/>
			<div v-if="allIdeas && allIdeas.length>0">
				<warning-list v-if="warnings" :warnings="warnings"/>
				<search-box v-on:search="text=> {this.searchText=text}"/>
				<table class="table table-striped mt-4 border shadow">
					<tr class="bg-primary text-white">
						<th>{{$t('title-label')}}</th>
						<th class="d-none d-md-table-cell">{{$t('description')}}</th>
						<th class="d-none d-sm-table-cell">{{$t('last-change')}}</th>
						<th>{{$t('action')}}</th>
					</tr>
					<tr class="abcd-tr" v-for="ideas in allIdeas" v-if="search(ideas)">
						<td class="" style='max-width:15em'>{{ideas.title+(ideas.crypted?' ⚷':'')}}</td>
						<td class="d-none d-sm-table-cell">{{ideas.desc}}</td>
						<td class="d-none d-md-table-cell" v-if="ideas.ts>0">{{new Date(ideas.ts).toLocaleDateString('de-DE', { day: 'numeric', month: 'long', year: 'numeric'})}}</td>
						<td class="d-none d-md-table-cell" v-else></td>
						<td style="white-space: nowrap;">
							<tooltip-icon  :tip="$t('show')" src="../../main/img/start.svg" v-on:click="start(ideas)"/>
							<tooltip-icon :tip="$t('edit-settings')" src="../../main/img/edit.svg" v-on:click="edit(ideas)"/>
							<tooltip-icon :tip="$t('share')" src="../../main/img/share.svg" v-on:click="share(ideas)"/>
							<tooltip-icon v-if="!ideas.crypted" :tip="$t('copy')" src="../../main/img/duplicate.svg" v-on:click="copy(ideas)"/>
							<tooltip-icon v-if="!ideas.crypted" :tip="$t('export')" src="../../main/img/export.svg" v-on:click="exportIdeas=ideas"/>
							<tooltip-icon :tip="$t('delete')" src="../../main/img/delete.svg" v-on:click="del(ideas)"/>
						</td>
					</tr>
				</table>
			</div>
			<div v-else class="alert alert-primary">{{$t('info-no-collection')}}</div>
			<div class="text-right">
				<tooltip-icon :tip="$t('new-ideas')" size="big" src="../../main/img/plus-primary.svg" v-on:click="$router.push({name:'ideas-edit'})"/>
				<tooltip-icon :tip="$t('import-collection')" size="big" src="../../main/img/import-primary.svg" v-on:click="showModalImport=true"/>
			</div>
		</div>
		<div class="container">
			<p class="lead clear-both">{{$t('privacy-title')}}</p>
			<p>{{$t('privacy-text')}}</p>
		</div>

		<modal-info v-show="exportIdeas" v-on:close="exportIdeas=false">
			<template v-slot:header>{{$t('choose-export-format')}}</template>
			<p>{{$t('export-hint')}}</p>
			<ul>
				<li>{{$t('export-type-html')}}</li>
				<li>{{$t('export-type-json')}}</li>
			</ul>
			<p class="my-4 text-center">
				<button class="mr-1 btn btn-primary" v-on:click="exportJson()">JSON</button>
				<button class="mr-1 btn btn-primary" v-on:click="exportHtml()">HTML</button>
			</p>
		</modal-info>

		<modal-dialog v-show="showModalImport" v-on:close="showModalImport=false" v-on:accept="importJson()">
			<template v-slot:header>{{$t('import-collection')}}</template>
			<p>{{$t('import-hint')}}</p>
			<br>
			<input class="form-control-file mr-2" type="file" v-on:change="importFileChange">
		</modal-dialog>

		<modal-dialog v-if="showModalCopy" v-on:close="showModalCopy=false" v-on:accept="acceptCopy()">
			<template v-slot:header>{{$t('copy-ideas')}}</template>
			<input class="form-control" v-model="copyTitle" :placeholder="$t('collection-title-hint')"
				:class="{'is-invalid':!$v(copyTitle,true,$consts.REGEX_TEXT_300)}">
		</modal-dialog>

		<modal-confirm v-if="showModalConfirmDelete" v-on:close="showModalConfirmDelete=false" v-on:accept="acceptDelete()">
			{{$t('confirm-delete',{title:dialogIdeas.title})}}
		</modal-confirm>

		<modal-share v-if="shareUrl" v-on:close="shareUrl=''" :text="$t('share-info')" :url="shareUrl"/>
  	</div>
</template>

<script>
import PageTitle from '../../main/components/PageTitle.vue';
import ModalDialog from '../../main/components/ModalDialog.vue';
import ModalInfo from '../../main/components/ModalInfo.vue';
import ModalShare from '../../main/components/ModalShare.vue';
import ModalConfirm from '../../main/components/ModalConfirm.vue';
import TooltipIcon from '../../main/components/TooltipIcon.vue';
import WarningList from '../../main/components/WarningList.vue';
import WaitIcon from '../../main/components/WaitIcon.vue';
import SearchBox from '../../main/components/SearchBox.vue';
import store from '../../main/js/store.js';
import html from '../../main/js/html.js';
import download from '../../main/js/download.js';
import generator from '../../main/js/password-generator'


export default {
	name: 'home',
	components: { PageTitle, TooltipIcon, ModalDialog, ModalShare, ModalInfo, ModalConfirm, WarningList, WaitIcon, SearchBox},
	data: function() {
		return {
			allIdeas:[],
			searchText:'',
			store:store,
			showModalImport:false,
			showModalCopy:false,
			exportIdeas:false,				//set selected for export
			showModalConfirmDelete:false,
			shareUrl:'',
			warnings:'',
			importFiles:[],
			dialogIdeas:{},
			createTitle:'',
			copyTitle:'',
			loading:true
		}
	},
	mounted: function() {
		if (!store.user.hasRole('ideas')) return this.$router.push({name:'ideas-part'});
		else this.$axios.get('ideas/ideas-meta').then(response=> {
			this.allIdeas=response.data;
			this.loading=false;
		})
	},
	methods: {
		share: function(ideas) {
			var ticket=ideas.ticket;
			var location=window.location.toString();
			var base=location.substring(0,location.lastIndexOf('/'));
			this.shareUrl=base+'/ideas/'+ticket;
		},
		search: function (ideas) {
			var s=this.searchText.toLowerCase();
			return s=='' ||
				(ideas.title && ideas.title.toLowerCase().indexOf(s)>=0) ||
				(ideas.desc && ideas.desc.toLowerCase().indexOf(s)>=0);
		},
		start: function(ideas) {
			this.$router.push({name:'ideas-part',params:{ticket:ideas.ticket}})
		},
		importFileChange: function(e) {
			var files=e.target.files || e.dataTransfer.files;
			this.importFiles=files;
			this.warnings='';
		},
		importJson: function() {
			this.showModalImport=false;
			if (!this.importFiles.length) return;
			var reader=new FileReader();
			reader.onload=(e)=> {
				try {
					var ideas=JSON.parse(e.target.result);
					this.$axios.post('ideas/ideas', {ideas:ideas}).then(response=> {
						if (response.data[0]) this.warnings=response.data;
						else this.warnings='';
						this.$axios.get('ideas/ideas-meta').then(response=> {this.allIdeas=response.data;})
					})
				}
				catch (e) {
					this.warnings=[{msg:'import-only-json'}]
				}
			};
			reader.readAsText(this.importFiles[0]);
		},
		del: function(ideas) {
			this.dialogIdeas=ideas;
			this.showModalConfirmDelete=true;
		},
		acceptDelete: function() {
			this.showModalConfirmDelete=false;
			this.$axios.delete('ideas/ideas/'+this.dialogIdeas._id).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.$axios.get('ideas/ideas-meta').then(response=> {this.allIdeas=response.data;})
			})
		},
		edit: function(ideas) {
			this.$router.push({name:'ideas-edit',params:{id:ideas._id}})
		},
		//Export HTML
		exportHtml: function() {
			this.$axios.get('ideas/ideas/'+this.exportIdeas._id).then(response=> {
				this.exportIdeas=false;
				var ideas=Object.assign({}, response.data);
				var h='<html style="font-size:12pt;font-family:Arial;"><head><title>'+this.$t('title')+' - '+html.escapeHTML(ideas.title)+'</title><meta charset="UTF-8"></head><body>';
 			   	h+='<h1>'+this.$t('title')+' - '+html.escapeHTML(ideas.title)+'</h1>';
 			   	h+='<p>'+ideas.desc+'</p>';
				for (var card of ideas.cards) {
 				   h+="<h2>"+html.escapeHTML(card.title)+'</h2><ul>';
 				   for (var content of card.contents) {
 					   if (content.type=="a" || content.type=="img" || content.type=="upload")  {
 						   if (content.url.match(this.$consts.REGEX_IMAGE)) {
 							   h+='<center><img alt="'+html.escapeHTML(content.text)+'" src="'+html.escapeHTML(content.url)+'"></center>';
 						   }
 						   else {
 						  		h+='<li><a href="'+html.escapeHTML(content.url)+'">'+html.escapeHTML(content.text)+'</a>';
 						   }
 					   }
 					   else
 						   h+='<li>'+html.escapeHTML(content.text);
 				   }
 				   h+='</ul>';
 			   }
				//trigger download
				download.downloadHtml(html.escapeHTML(ideas.title),h);
			})
		},
		//Export Json
		exportJson: function() {
			this.toJson(this.exportIdeas, (ideas)=> {
				this.exportIdeas=false;
				download.downloadJson(ideas);
			})
		},
		toJson: function(ideasMeta, callback) {
			this.$axios.get('ideas/ideas/'+ideasMeta._id).then(response=> {
				var ideas=Object.assign({}, response.data);
				//remove unecessary information
				delete ideas._id;
				delete ideas.__v;
				delete ideas.owner;
				delete ideas.uploadDir;
				for (var card of ideas.cards) {
					delete card._id;
					delete card.__v;
					for (var content of card.contents) {
						delete content._id;
						delete content.__v;
						//if (content.type=="img" || content.type=="upload") content.type="a";
					}
				}
				callback(ideas);
			})
		},
		copy: function(ideas) {
			this.dialogIdeas=ideas;
			this.showModalCopy=true;
		},
		acceptCopy: function() {
			this.toJson(this.dialogIdeas, (ideas)=> {
				ideas.title=this.copyTitle;
				ideas.ticket=generator.generate({length:8, numbers: true});
				this.$axios.post('ideas/ideas', {ideas:ideas}).then(response=> {
					if (response.data[0]) this.warnings=response.data;
					else this.warnings='';
					this.showModalCopy=false;
					this.$axios.get('ideas/ideas-meta').then(response=> {this.allIdeas=response.data;})
				})
			})
		},
	}
}
</script>





<i18n>
{
	"de": {
		"title": "Ideensammlung",
		"text": "Gemeinsames Sammeln von Ideen - digitales Brainstorming.",
		"manual": "Anleitung",
		"title-label": "Titel",
		"description": "Beschreibung",
		"last-change": "Letzte Änderung",
		"action": "Aktion",
		"show": "Anzeigen",
		"edit-settings": "Einstellungen bearbeiten",
		"share": "Teilen",
		"copy": "Kopieren",
		"export": "Export",
		"delete": "Löschen",
		"info-no-collection": "Derzeit ist noch keine Idee-Sammlung vorhanden. Legen Sie eine neue an, indem Sie auf das Plus-Symbol klicken!",
		"new-ideas": "Neue Ideensammlung",
		"import-collection": "Ideensammlung importieren",
		"privacy-title": "Hinweis zum Datenschutz",
		"privacy-text": "Alle eingegebenen Informationen werden unverschlüsselt auf dem Webserver in einer Datenbank abgelegt falls Sie die Option zur Verschlüsselung beim Erstellen nicht bewusst aktivieren. Sofern Sie die Ideensammlung nicht teilen, ist der Zugriff nur für Sie nach einer Anmeldung möglich. Wird eine Sammlung über einen öffentlichen Link geteilt, sind alle enthaltenen Eingaben für alle Personen, die Zugriff auf diesen Link besitzen möglich. Die Informationen werden nicht an Dritte weitergeleitet, nach dem Löschen einer Sammlung werden sie vollständig aus der Datenbank entfernt. ",
		"choose-export-format": "Exportformat wählen",
		"export-hint": "Bitte beachten Sie, dass verknüpfte Dateien nicht im Export enthalten sind, sichern sie diese daher ggf. separat.",
		"export-type-json": "JSON – dieses Format kann später wieder importiert werden",
		"export-type-html": "HTML – Export als Webseite, kann z.B. mit Word geöffnet werden",
		"import-hint": "Wählen Sie die zu importierende json-Datei aus und drücken Sie anschließend „importieren“",
		"copy-ideas": "Ideensammlung kopieren",
		"collection-title-hint": "Titel der IdeenSammlung",
		"confirm-delete": "Wollen Sie die Ideensammlung „{title}“ wirklich löschen?",
		"share-info": "Bitte Veröffentlichen Sie diesen Link nicht offen im Internet – dieser Webserver ist dafür nicht ausgelegt. Danke!"
	},
	"en": {
		"title": "Brainstorming session",
		"text": "Collecting ideas together - digital brainstorming.",
		"manual": "Manual",
		"title-label": "Title",
		"description": "Description",
		"last-change": "Last change",
		"action": "Action",
		"show": "Show",
		"edit-settings": "Edit settings",
		"share": "Share",
		"copy": "Copy",
		"export": "Export",
		"delete": "Delete",
		"info-no-collection": "There is no brainstorming session yet. Create a new one by clicking on the plus symbol!",
		"new-ideas": "New brainstorming session",
		"import-collection": "Import brainstorming sessions",
		"privacy-title": "Note on privacy",
		"privacy-text": "All entered information is stored unencrypted on the web server in a database if you do not activate the option for encryption on creation. Unless you share the session, access is only possible for you after logging in. If a session is shared via a public link, all entries are available for persons knowing this link. The information will not be forwarded to third parties, after deleting a session they will be completely removed from the database.",
		"choose-export-format": "Choose export format",
		"export-hint": "Please note that uploaded images are included in the export, so you don't have to back up them separately.",
		"export-type-json": "JSON - this format can be reimported later",
		"export-type-html": "HTML - Website may e.g. to be opened with Word",
		"import-hint": "Select the json file to import and then press \"import\"",
		"copy-ideas": "Copy brainstorming session",
		"collection-title-hint": "Title of the brainstorming session",
		"confirm-delete": "Are you sure you want to delete the brainstorming session “{title}”?",
		"share-info": "Please do not publish this link openly on the internet - this web server is not designed for this. Thanks!"
	}
}
</i18n>
