<template>
	<section>
		<!-- login screen -->
		<div v-if="!login" class="container text-center">
			<img class="my-2 loginIcon" src="../img/ideas.svg">
			<p class="lead my-2">{{$t('input-ticket')}}</p>
			<div class="form-signin">
				<warning-list v-if="warnings" :warnings="warnings" v-on:close="warnings=''"/>
				<input class="mt-2 form-control" :placeholder="$t('ticket')" v-model='ticket'
					:class="{'is-invalid':!$v(ticket,true,$consts.REGEX_TICKET)}"/>
				<button class="mb-4 btn btn-primary form-control" v-on:click="start()">{{$t('next')}}</button>
				<p class="my-3">{{$t("author-hint")}}</p>
			</div>
		</div>
		<!-- help and privacy -->
		<div v-else-if="showHelp">
			<page-title :title="ideas.title" :subtitle="$t('help')" :button="$t('close')" v-on:click="showHelp=false"/>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-dark text-white">{{$t('manual')}}</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/plus-primary.svg"><span>{{$t('help-add-card')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/edit.svg"><span>{{$t('help-edit-card')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/delete.svg"><span>{{$t('help-delete-card')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/add.svg"><span>{{$t('help-add-content')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/lock.svg"><span>{{$t('help-locked')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/hidden.svg"><span>{{$t('help-hidden')}}</span></li>
								<li class="list-group-item"><img class="smallIcon mr-1" src="../../main/img/start.svg"><span>{{$t('help-pechakucha')}}</span></li>
								<li class="list-group-item">{{$t('help-preview')}}</li>
								<li class="list-group-item">{{$t('help-edit')}}</li>
								<li class="list-group-item">{{$t('help-move')}}</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header bg-dark text-white">{{$t('privacy')}}</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">{{$t('privacy-hint1')}}</li>
								<li class="list-group-item">{{$t('privacy-hint2')}}</li>
								<li class="list-group-item">{{$t('privacy-hint3')}}</li>
								<li v-if="ideas.crypted" class="list-group-item">{{$t('privacy-hint4')}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- cards screen -->
		<div v-else>
			<page-title :title="ideas.title+(ideas.crypted?' ⚷':'')" :subtitle="ideas.desc" :button="$t('help')" v-on:click="showHelp=true"/>
			<div v-if="!online" class="container my-5">
				<wait-icon :msg="$t('wait-connecting')"/>
			</div>
			<div v-if="online" class="container mt-3">
				<div v-if="loading" class="alert alert-warning">{{$t('wait-loading')}}</div>
				<warning-list v-if="warnings" :warnings="warnings"/>
			</div>
			<div v-if="!ideas.crypted || this.encryptionKey" :class="{'container':ideas.cards.length<=2, 'container-fluid':ideas.cards.length>2 }">
				<div class="mt-3" :class="{'card-deck':ideas.cards.length==2, 'card-columns': ideas.cards.length>2 }" >
					<div class="card shadow" v-for="card of ideas.cards" v-show="!card.hidden || isOwner">
						<!--header-->
						<div class="card-header text-white" :style="'padding:0.5rem 1rem; background-color:'+card.color" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<img class="invert" v-if="card.locked" src="../../main/img/lock.svg" height="22px" style="margin-right:-3px;margin-left:-3px">
							<img class="invert" v-if="card.hidden" src="../../main/img/hidden.svg" height="22px" style="margin-right:-3px;margin-left:-3px">
							<span v-html="escapeText(card.title)"/>
						</div>
						<!--Content-->
						<div class="card-body p-0" v-if="card.contents.length>0" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<div v-for="(content,pos) of card.contents">
								<div v-if="content" :id="content._id" class="px-3 pt-1"
									:draggable="isAllowedTo('delContent',card) && (!card.locked || isOwner)"
									v-on:dragstart="dragStart(card,content)" v-on:drop.stop.prevent="drop(card,pos)" v-on:dragover.prevent>
									<!--Simple text-->
									<span v-if="content.type=='text'" :class="{'cursor-pointer': isAllowedTo('editContent',card) || isAllowedTo('delContent',card)}" v-html="escapeText(content.text)" v-on:click="contentAction(card,content)"/>
									<!--Image Link-->
									<div v-if="content.type=='a' && content.url.match($consts.REGEX_IMAGE)" style="width:100%;text-align:center">
										<figure v-on:click="contentAction(card,content)">
											<figcaption style="width:100%;text-align:left">{{escapeText(content.text)}}</figcaption>
											<img class="mb-1 center cursor-pointer" :src="content.url" :alt="escapeText(content.text)" style="max-width:100%;max-height:10rem">
										</figure>
									</div>
									<!--Audio Link-->
									<div v-else-if="content.type=='a' && content.url.match($consts.REGEX_AUDIO)">
										<audio controls style="width:100%"><source :src="content.url"></audio>
										<span class="a cursor-pointer" v-on:click="contentAction(card,content)" v-html="escapeText(content.text)"/>
									</div>
									<!--Video Link-->
									<div v-else-if="content.type=='a' && content.url.match($consts.REGEX_VIDEO)">
										<center>
											<video style="max-height:10rem;max-width:100%" controls v-on:click="contentAction(card,content)"><source :src="content.url"></video>
										</center>
										<span class="a cursor-pointer" v-on:click="contentAction(card,content)" v-html="escapeText(content.text)"/>
									</div>
									<!--Normal Link-->
									<span class="a cursor-pointer" v-else-if="content.type=='a'" v-on:click="contentAction(card,content)">
										 <img class="typeIcon" v-if="/\.(txt|doc|docx|odt|tex|cho)/i.test(content.url)" src="../../main/img/type-text.svg">
										 <img class="typeIcon" v-else-if="/\.(xls|csv|xlsx|ods)/i.test(content.url)" src="../../main/img/type-calc.svg">
										 <img class="typeIcon" v-else-if="/\.(ppt|pptx|odp|odg)/i.test(content.url)" src="../../main/img/type-slides.svg">
										 <img class="typeIcon" v-else-if="/\.(pdf)/i.test(content.url)" src="../../main/img/type-pdf.svg">
										 <img class="typeIcon" v-else-if="/\.(ggb)/i.test(content.url)" src="../../main/img/type-geogebra.svg">
										 <img class="typeIcon" v-else-if="/\.(zip|tar|tgz|gz)/i.test(content.url)" src="../../main/img/type-zip.svg">
										 <img class="typeIcon" v-else-if="/\.(js|css|json)/i.test(content.url)" src="../../main/img/type-code.svg">
										 <img class="typeIcon" v-else-if="/\.(ppt|pptx|odp|odg)/i.test(content.url)" src="../../main/img/type-slides.svg">
										 <img class="typeIcon" v-else-if="content.url.endsWith('/')" src="../../main/img/type-folder.svg">
										 <img class="typeIcon" v-else src="../../main/img/type-web.svg">
										 <span v-html="escapeText(content.text)"/>
									 </span>
									<!--Embedded Image-->
									<div v-if="content.type=='img'" style="width:100%;text-align:center">
										<figure v-on:click="contentAction(card,content)">
											<figcaption style="width:100%;text-align:left">{{escapeText(content.text)}}</figcaption>
											<img class='mb-1 center cursor-pointer' :src="content.url" :alt="escapeText(content.text)" style="max-width:100%;max-height:10rem">
										</figure>
									</div>
								</div>
								<hr class="p-0 m-0">
							</div>
						</div>
						<!--Empty Conent-->
						<div v-else class="card-body" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<p v-if="isAllowedTo('addContent',card) && isAllowedTo('delContent',card)" class="text-secondary" >{{$t('info-add-content-or-drag')}}</p>
							<p v-else-if="isAllowedTo('addContent',card)" class="text-secondary">{{$t('info-add-content')}}</p>
						</div>
						<!--Footer -->
						<div class="text-right card-footer" v-on:drop.stop.prevent="drop(card,1000)" v-on:dragover.prevent>
							<tooltip-icon v-if="isAllowedTo('addContent',card)" :tip="$t('add-content')" v-on:click="addContent(card)" src="../../main/img/add.svg"/>
							<tooltip-icon v-if="ideas.pechakucha && card.contents.length>0" :tip="$t('pechakucha')" v-on:click="startPechakucha(card)" src="../../main/img/start.svg"/>
							<tooltip-icon v-if="isAllowedTo('editCard',card)" :tip="$t('edit-card')" v-on:click="editCardMeta(card)" src="../../main/img/edit.svg"/>
							<tooltip-icon v-if="isAllowedTo('delCard',card)" :tip="$t('delete-card')" v-on:click="editCard=card;showModalConfirmDelete=true" src="../../main/img/delete.svg"/>
						</div>
					</div>
				</div>
				<p class="text-right">
					<tooltip-icon v-if="!online" :tip="$t('update-view')" size="big" src="../../main/img/update-primary.svg" v-on:click="loadIdeas()"/>
					<tooltip-icon v-if="isAllowedTo('addCard',null)" :tip="$t('add-card')" size="big" src="../../main/img/plus-primary.svg" v-on:click="addCard()"/>
				</p>
			</div>
		</div>

		<!-- Modal view image -->
		<modal-info v-if="showImageUrl" v-on:close="showImageUrl=''">
			<template v-slot:header>{{$t('image')}}</template>
			<img :src="showImageUrl" style="width:100%">
		</modal-info>

		<!-- Modal dialog on content click-->
		<modal-info v-if="showModalAction" v-on:close="showModalAction=false">
			<template v-slot:header>{{$t('choose-action')}}</template>
			<warning-list v-if="dialogError" :warnings="dialogError"/>
			<p>{{$t('modal-action-text')}}</p>
			<div class="text-center">
				<tooltip-icon :tip="$t('show')" v-if="editContent.type=='a'" size="medium" src="../../main/img/start.svg" v-on:click="openLink(editContent.url)"/>
				<tooltip-icon :tip="$t('show')" v-if="editContent.type=='img'" size="medium" src="../../main/img/start.svg" v-on:click="showImage(editContent.url)"/>
				<tooltip-icon :tip="$t('edit')" v-if="isAllowedTo('editContent',editCard)" size="medium" src="../../main/img/edit.svg" v-on:click="showModalAction=false;showModalEdit=true;"/>
				<tooltip-icon :tip="$t('drag')" v-if="getMoveTargets(editCard).length>0" size="medium" src="../../main/img/drag.svg" v-on:click="showModalAction=false; showModalDrag=true;"/>
				<tooltip-icon :tip="$t('delete')" v-if="isAllowedTo('delContent',editCard)" size="medium" v-on:click="delContent()" src="../../main/img/delete.svg"/>
			</div>
		</modal-info>

		<!-- Modal edit content dialog-->
		<modal-dialog v-if="showModalEdit==true" v-on:close="showModalEdit=false" v-on:accept="saveContent()">
			<template v-slot:header>{{$t('edit')}}</template>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">{{$t('select-type')}}</span>
				</div>
				<select class="form-control" v-model="editContent.type" v-on:change="editContent.url=''; dialogError=false">
					<option value="text">{{$t('text-input')}}</option>
					<option value="a">{{$t('link')}}</option>
					<option v-if="isAllowedTo('upload',editCard)" value="img">{{$t('image')}}</option>
				</select>
			</div>
			<div class="input-group mt-1">
				<div class="input-group-prepend bg-white">
					<emoji-select class="input-group-text p0" v-on:select="insertEmoji"/>
				</div>
				<textarea class="form-control" v-model="editContent.text"  rows="2" :placeholder="$t('hint-text-input')"
				:class="{'is-invalid':!$v(editContent.text,true,$consts.REGEX_TEXT_AREA_1000)}"/>
			</div>
			<div v-if="editContent.type=='a'" class="mt-1">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">{{$t('enter-url')}}</span>
					</div>
					<input class="form-control"  v-model="editContent.url" :class="{'is-invalid':!$v(editContent.url,true,$consts.REGEX_URL)}">
				</div>
			</div>
			<div v-if="editContent.type=='img'" class="mt-2">
				<div v-if="!editContent.url">
					<p>{{$t('upload-info',{size:Math.round(config.imageMaxSize/1024)})}}</p>
					<image-upload :maxsize="config.imageMaxSize" v-on:upload="uploadImage"/>
				</div>
				<div v-else>
					<img style="max-width:300px" :src="editContent.url"/>
					<button class="btn btn-secondary" v-on:click="editContent.url=''">{{$t('delete')}}</button>
				</div>
			</div>
			<warning-list class="mt-2" v-if="dialogError" :warnings="dialogError"/>
		</modal-dialog>

		<!-- Modal edit card dialog-->
		<modal-dialog v-if="showModalEditCard" v-on:close="showModalEditCard=false" v-on:accept="saveCard()">
			<template v-slot:header>{{$t('edit-card')}}</template>
			<warning-list v-if="dialogError" :warnings="dialogError"/>
			<div class="input-group">
				<div class="input-group-prepend">
					<emoji-select class="input-group-text p0" v-on:select="insertEmoji"/>
				</div>
				<textarea class="form-control" v-model="editCard.title" rows=2 :placeholder="$t('hint-card-title')"
				:class="{'is-invalid':!$v(editCard.title,true,$consts.REGEX_TEXT_AREA_300)}"/>
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('sorting')}}</div>
				</div>
				<input class="form-control" type="number" v-model:number="editCard.sort">
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('color')}}</div>
				</div>
				<input class="form-control" type="color" style="height:2.5em" :placeholder="$t('color')" v-model="editCard.color">
			</div>
			<div class="input-group" v-if="isOwner">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('access')}}</div>
				</div>
				<div class="form-check form-control pl-5">
					<input class="form-check-input" id="check-lock" type="checkbox" v-model="editCard.locked">
					<label class="form-check-label" for="check-lock">{{$t('lock-card')}}</label>
				</div>
				<div class="form-check form-control pl-5">
					<input class="form-check-input" id="check-hidden" type="checkbox" v-model="editCard.hidden">
					<label class="form-check-label" for="check-hidden">{{$t('hide-card')}}</label>
				</div>
			</div>
		</modal-dialog>

		<!-- Modal ask encryption key -->
		<modal-dialog v-if="ideas.crypted && encryptionKey==''" v-on:accept="encryptionKey=inputEncryptionKey1;loadIdeas()">
			<template v-slot:header>{{$t('enter-encryption-key')}}</template>
			<warning-list v-if="dialogError" :warnings="dialogError"/>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('key')}}</div>
				</div>
				<input type="password" class="form-control" v-model="inputEncryptionKey1" :class="{'is-invalid':!inputEncryptionKey1 }"/>
			</div>
			<div class="input-group" v-if="ideas.cards.length==0">
				<div class="input-group-prepend">
					<div class="input-group-text">{{$t('key-confirm')}}</div>
				</div>
				<input type="password" class="form-control" v-model="inputEncryptionKey2" :class="{'is-invalid':!inputEncryptionKey1 || inputEncryptionKey1!=inputEncryptionKey2}"/>
			</div>
		</modal-dialog>

		<!-- move entry to different card-->
		<modal-info v-if="showModalDrag" v-on:close="showModalDrag=false">
			<center>
				<button class="btn btn-default mr-1" v-for="target of getMoveTargets(editCard)" :style="'color:white;background-color:'+target.color" v-on:click="moveContent(editCard,editContent,target,0);showModalDrag=false">
					{{target.title}}
				</button>
			</center>
		</modal-info>

		<!-- confirm dialog-->
		<modal-confirm v-if="showModalConfirmDelete" v-on:close="showModalConfirmDelete=false" v-on:accept="delCard()">
			<p>{{$t('confirm-delete-card')}}</p>
		</modal-confirm>
	</section>
</template>

<script>
import ModalInfo from '../../main/components/ModalInfo.vue';
import ModalConfirm from '../../main/components/ModalConfirm.vue';
import ImageUpload from '../../main/components/ImageUpload.vue';
import ModalDialog from '../../main/components/ModalDialog.vue';
import WarningList from '../../main/components/WarningList.vue';
import PageTitle from '../../main/components/PageTitle.vue';
import TooltipIcon from '../../main/components/TooltipIcon.vue';
import WaitIcon from '../../main/components/WaitIcon.vue';
import EmojiSelect from '../../main/components/EmojiSelect.vue';

import config from "../config.js";
import store from "../../main/js/store.js";
import color from "../../main/js/color.js";
import html from "../../main/js/html.js";
import texit from "../../main/js/texit.js";
import encryption from "../../main/js/encryption.js";

export default {
	components: {ModalInfo, ModalDialog, ModalConfirm, WarningList, PageTitle, TooltipIcon, WaitIcon, EmojiSelect,  ImageUpload},
	data: function() {
		return {
			texit:texit,
			config:config,
			ticket:'',
			ideas: {title:'', cards: []},
			showHelp: false,
			showModalAction:false,
			showModalEdit:false,
			showModalEditCard:false,
			showModalConfirmDelete:false,
			showModalDrag:false,
			showImageUrl:'',
			editContent:{type:''},	//selected Content
			editCard:{},			//selected Card
			dialogError:false,		//error in modal dialog
			config:config,
			warnings:'',
			isOwner:false,			//User owns chat
			wsUrl:'',				//Websocket URL
			online:false,			//state - chat online?
			login:false,			//state - successfull login?
			loading:false,			//state - messages loading,
			ws:{},					//websocket
			actionContent:false,	//content selected after click on user icon,
			timer:{},
			dragging:{},			//container for dragging variables
			encryptionKey:'',		//encryption key
			inputEncryptionKey1:'',
			inputEncryptionKey2:''
		}
	},
	mounted: function() {
		//coming from vue-router (as author)?
		if (this.$route.params.ticket) {
			this.ticket=this.$route.params.ticket;
			this.start();
		}
	},
	updated: function() {
		this.texit.renderTex();
	},
	destroyed: function() {
		if (this.timer) clearInterval(this.timer);
		if (this.ws && this.ws.close) {
			this.ws.close();
			console.log('Closing WebSocket');
		}
	},
	methods: {
		start: function(nr) {
			if (!this.ticket) return;
			this.$axios.get('ideas/part/socket/'+this.ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.warnings='';
				//start websocket connection
				this.login=true;
				this.wsUrl=response.data.url;
				this.startWS();
				this.timer=setInterval(this.checkWS, 5000);
			})
		},
		//Checks if certain permission is given for a particular card
		isAllowedTo: function (right,card) {
			return this.isOwner || (this.ideas[right] && (card==null || ( !card.locked && !card.hidden)));
		},
		//Escaping text (taking into account mathematical formulas and encryption if necessary)
		escapeText: function (text) {
			if (this.ideas.math) return texit.texit(text);
			else return html.escapeHTML(text);
		},
		//Start websocket client
		startWS: function(){
			console.log('Opening websockert: '+this.wsUrl)
			this.ws=new WebSocket(this.wsUrl);
			this.ws.onopen=(event)=> {
				this.loadIdeas();	//complete refresh after beeing offline
				this.online=true;
			};
			this.ws.onmessage=(event)=> {
				var message=JSON.parse(event.data);
				//new content on card
				if (message.type=="newContent") {
					var card=this.getCardById(message.cardid);
					this.decryptContent(message.content);
					var pos=message.content.pos;
					if (!pos || pos<0 || pos>=card.contents.length) card.contents.push(message.content);
					else card.contents.splice(pos, 0, message.content);
				}
				//content on card updated
				if (message.type=="updateContent") {
					var card=this.getCardById(message.cardid);
					this.decryptContent(message.content);
					for (var i=0; i<card.contents.length; i++) {
						if (card.contents[i]._id==message.content._id) card.contents[i]=message.content;
					}
					this.$forceUpdate();
				}
				//content deleted from card
				if (message.type=="delContent") {
					var card=this.getCardById(message.cardid);
					for (var i=0; i<card.contents.length; i++) {
						if (card.contents[i]._id==message.contentid) card.contents.splice(i,1);
					}
				}
				//new card
				if (message.type=="addCard" ) {
					this.decryptCard(message.card);
					this.ideas.cards.push(message.card);
					this.sortCards();
				}
				//card changed
				if (message.type=="updateCard" ) {
					this.decryptCard(message.card);
					var card=this.getCardById(message.card._id);
					card=Object.assign(card, message.card);
					this.sortCards();
				}
				//card deleted
				if (message.type=="delCard" ) {
					for (var i=0; i<this.ideas.cards.length; i++) {
						if (this.ideas.cards[i]._id==message.cardid) this.ideas.cards.splice(i,1);
					}
				}
				//meta information changed
				if (message.type=="metaChanged") {
					Object.assign(this.ideas, message.meta);
				}
			};
			this.ws.onclose=() => {
				this.online=false;
			};
		},
		//Check websocket
		checkWS: function (){
		    if(!this.ws || this.ws.readyState==3) {
				this.online=false;
				this.startWS();
			}
		},
		//Load complete ideas set
		loadIdeas: function() {
			this.$axios.get( "ideas/part/ideas/"+this.ticket).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				this.isOwner=store.user.login==response.data.owner
				this.ideas=response.data;
				this.decryptIdeas();
				this.sortCards();
			})
		},
		//Ask for action on click
		contentAction: function (card,content) {
			this.editCard=Object.assign({},card);
			this.editContent=Object.assign({},content);
			if (this.isAllowedTo("editContent",card) || this.isAllowedTo("delContent",card)) this.showModalAction=true;
			else if (content.type=='a') this.openLink(content.url);
			else if (content.type=='img') this.showImage(content.url);
		},
		//get possible targets for moving a content
		getMoveTargets: function(fromCard) {
			if (!this.isAllowedTo("addContent") || !this.isAllowedTo("delContent") || !this.ideas || !this.ideas.cards) return [];
			var moveTargets=[];
			for (var test of this.ideas.cards) {
				if (test._id!=fromCard._id) moveTargets.push(test);
			}
			return moveTargets;
		},
		//Open link in new tab
		openLink: function(url) {
			 window.open(url,'_blank')
		},
		//Add new content
		addContent: function(card) {
			this.dialogError=false;
			this.editCard=card;
			this.editContent={type:'text',text:'',url:''};
			this.showModalEdit=true;
		},
		//Save content from edit dialog
		saveContent:function() {
			var content=Object.assign({},this.editContent);
			//validate
			var validationError=!content.text || ( ( content.type=="img" || content.type=='a') && !content.url );
			if (validationError) {
				this.dialogError=[{msg:'validation-error'}];
				return;
			}
			if (content.type=="a" && content.url.indexOf('://')<4) content.url='https://'+content.url; //prepend protocol
			this.encryptContent(content);
			//update existing content?
			this.dialogError=false;
			if (content._id) {
				this.$axios.put('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id+'/'+content._id, content).then(response=> {
					if (response.data[0]) this.dialogError=response.data;
					else {this.showModalEdit=false};
				});
			}
			//create new content
			else {
				this.$axios.post('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id, content).then(response=> {
					if (response.data[0]) this.dialogError=response.data;
					else {this.showModalEdit=false};
				});
			}
		},
		//Delete content from edit dialog
		delContent:function() {
			this.$axios.delete('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id+'/'+this.editContent._id).then(response=> {
				if (response.data[0]) this.dialogError=response.data;
				else {this.showModalAction=false};
			});
		},
		//Add new card
		addCard: function() {
			this.dialogError=false;
 			var bgColor=color.randomColor();
			this.editCard={title:'',contents:[], locked:false, hidden:false, sort:0 , color:bgColor};
			this.showModalEditCard=true;
		},
		//Edit card
		editCardMeta: function(card) {
			this.dialogError=false;
			this.editCard=Object.assign({},card);
			this.showModalEditCard=true;
		},
		//Save content from edit card dialog
		saveCard:function() {
			//update existing card?
			this.dialogError=false;
			this.encryptCard(this.editCard);
			if (this.editCard._id) {
				this.$axios.put('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id, this.editCard).then(response=> {
					if (response.data[0]) this.dialogError=response.data;
					else {this.showModalEditCard=false};
				});
			}
			//create new content
			else {
				this.$axios.post('ideas/part/ideas/'+this.ticket+'/', this.editCard).then(response=> {
					if (response.data[0]) this.dialogError=response.data;
					else {this.showModalEditCard=false};
				});
			}
		},
		//Delete content from edit dialog
		delCard:function() {
			this.$axios.delete('ideas/part/ideas/'+this.ticket+'/'+this.editCard._id).then(response=> {
				if (response.data[0]) this.dialogError=response.data;
				else {this.showModalConfirmDelete=false};
			});
		},
		//Append emoji to input string
		insertEmoji: function(char) {
			if (!this.editContent.text) this.editContent.text='';
			if (!this.editCard.title) this.editCard.title='';
			if (this.showModalEdit) this.editContent.text=this.editContent.text+char;
			if (this.showModalEditCard) this.editCard.title=this.editCard.title+char;
		},
		//Helper for ws: get card by drop
		getCardById: function(cardid) {
			var card=this.ideas.cards.find(x=> x._id===cardid);
			if (card) return card;
			//Create new card
			card={title:'',_id:cardid, contents:[]}
			this.ideas.cards.push(card);
			return card;
		},
		//Help: sort cards
		sortCards: function() {
			this.ideas.cards.sort((a,b)=> {
				if (a.sort>b.sort) return 1;
				else if (a.sort<b.sort) return -1;
				else return a._id>b._id
			})
		},
		//Drag start
		dragStart: function(card, content) {
			this.dragging={card:card, content:content};
		},
		//Drop
		drop: function(card,pos) {
			this.moveContent(this.dragging.card,this.dragging.content,card,pos);
		},
		//Move content per drag & drop
		moveContent:function (cardFrom,contentFrom,cardTo,pos) {
			this.warnings='';
			if (!cardFrom || !contentFrom || !cardTo ) return;
			if (!this.isAllowedTo('delContent',cardFrom) || !this.isAllowedTo('addContent',cardTo)) return;
			//add Content to destination card
			var newContent=Object.assign({},contentFrom);
			this.encryptContent(newContent);
			newContent.pos=pos;
			newContent._id='';
			//add Content to dst card
			this.$axios.post('ideas/part/ideas/'+this.ticket+'/'+cardTo._id,newContent).then(response=> {
				if (response.data[0]) return this.warnings=response.data;
				//delete Content from source card
				this.$axios.delete('ideas/part/ideas/'+this.ticket+'/'+cardFrom._id+'/'+contentFrom._id).then(response=> {
					if (response.data[0]) return this.warnings=response.data;
				});
			});
		},
		//Upload image
		uploadImage: function(image) {
			var reader=new FileReader();
			reader.readAsDataURL(image);
			reader.onload=e=> {
				var image=e.target.result;
				this.editContent.url=image;
			};
		},
		//View image
		showImage: function(url) {
			this.showModalAction='';
			this.showImageUrl=url;
		},
		//Start pechakucha presentation
		startPechakucha: function(card) {
			this.$router.push({ name: 'ideas-pechakucha', params:{card:card}});
		},
		//Encrypt card
		encryptCard: function(card) {
			if (!this.ideas.crypted) return;
			card.title=encryption.encrypt(card.title,this.encryptionKey);
			for (var content of card.contents) {
				this.encryptContent(content)
			}
		},
		//Decrypt card
		decryptCard: function(card) {
			if (!this.ideas.crypted) return;
			try {
				card.title=encryption.decrypt(card.title,this.encryptionKey);
				for (var content of card.contents) {
					this.decryptContent(content)
				}
			}
			catch (e) { this.encryptionKey=''; }
		},
		//Encrypt content
		encryptContent: function(content) {
			if (!this.ideas.crypted) return;
			content.text=encryption.encrypt(content.text,this.encryptionKey);
			if (content.type=='a' || content.type=='img') content.url=encryption.encrypt(content.url,this.encryptionKey);
		},
		//Encrypt content
		decryptContent: function(content) {
			if (!this.ideas.crypted) return;
			try {
				content.text=encryption.decrypt(content.text,this.encryptionKey);
				if (content.type=='a' || content.type=='img') content.url=encryption.decrypt(content.url,this.encryptionKey);
			}
			catch (e) { this.encryptionKey=''; }
		},
		//Decrypt complete ideas
		decryptIdeas: function() {
			if (!this.ideas.crypted) return;
			for (var card of this.ideas.cards) {
				this.decryptCard(card);
			}
		}

	}
}
</script>

<style>
	span.a {text-decoration: underline}
	img.typeIcon { height:1.1em; padding-right: 0.2em; margin-top:-0.3em}
</style>

<style src='../../../node_modules/katex/dist/katex.min.css'/>
<style src="../../main/css/signin.css"/>





<i18n>
{
	"de": {
		"input-ticket": "Bitte geben Sie das Ticket für die Ideensammlung ein.",
		"ticket": "Ticket",
		"next": "Weiter",
		"": "",
		"help": "Hilfe",
		"close": "Schließen",
		"manual": "Anleitung",
		"help-add-card": "Hinzufügen einer neuen Karte zur Ideensammlung",
		"help-edit-card": "Umbenennen, -färben oder Sperren einer Karte",
		"help-delete-card": "Löschen einer Karte - Vorsicht, dies kann nicht rückgängig gemacht werden!",
		"help-add-content": "Hinzufügen eines neuen Eintrags (Text, Verknüpfung oder Upload) zur Karte",
		"help-locked": "Karten mit diesem Symbol können nicht bearbeitet werden.",
		"help-hidden": "Versteckte Karten werden dem Benutzer nicht direkt angezeigt.",
		"help-pechakucha": "Starten einer Pecha Cucha Präsentation.",
		"help-preview": "Bei Bildern, Audio- oder Video-Dateien wird automatisch eine Vorschau auf der Karte angezeigt.",
		"help-edit": "Um einen bestehenden Eintrag zu bearbeiten, klicken Sie ihn mit der Maus an.",
		"help-move": "Einträge können mittels der Maus innerhalb einer Karte oder auch auf andere Karten verschoben werden.",
		"privacy": "Datenschutz",
		"privacy-hint1": "Ihre Eingaben werden verschlüsselt an den Webserver übertragen und dort für die Dauer der Ideensammlung in einer Datenbank abgelegt.",
		"privacy-hint2": "Dies erfolgt anonym, d.h. Ihr Name (falls Sie angemeldet sind) bzw. Ihre IP-Adresse werden nicht in der Datenbank gespeichert.",
		"privacy-hint3": "Beachten Sie bitte, dass alle anderen Teilnehmer, die vom Author über einen öffentlichen Link eingeladen wurden (und ggf. den Schlüssel kennen), die Informationen ebenfalls sehen können.",
		"privacy-hint4": "Diese Ideensammlung ist zusätzlich Client-seitig verschlüsselt, d.h. der Betreiber des Servers kann die Inhalte auch in der Datenbank nicht einsehen (sofern ihm niemand den Schlüssel mitteilt)",
		"wait-connecting": "Bitte warten – die Verbindung zur Ideensammlung wird hergestellt ...",
		"wait-loading": "Bitte warten – die Ideensammlung wird wird geladen  ...",
		"info-add-content-or-drag": "Nutze das Plus-Symbol um neue Einträge zu schreiben - oder ziehe bestehende Einträge auf dieses Feld.",
		"info-add-content": "Nutze das Plus-Symbol um neue Einträge zu schreiben.",
		"add-content": "Inhalt hinzufügen",
		"pechakucha": "Pecha Kucha",
		"edit-card": "Karte bearbeiten",
		"delete-card": "Karte löschen",
		"update-view": "Ansicht aktualisieren",
		"add-card": "Karte hinzufügen",
		"choose-action": "Aktion wählen",
		"show": "Anzeigen",
		"edit": "Bearbeiten",
		"drag": "Verschieben",
		"delete": "Löschen",
		"select-type": "Art des Eintrags",
		"text-input": "Text",
		"link": "Verknüpfung",
		"image": "Bild",
		"hint-text-input": "Text bzw. Beschreibung eingeben",
		"enter-url": "Eingabe URL",
		"hint-card-title": "Titel der Karte",
		"sorting": "Sortierung",
		"color": "Farbe",
		"access": "Zugriff",
		"lock-card": "Karte sperren",
		"hide-card": "Karte verstecken",
		"confirm-delete-card": "Wollen Sie diese Karte wirklich löschen?",
		"upload-info": "Bitte lade nur Dateien hoch, bei denen das Urheberrecht es erlaubt und die keine weiteren rechtlichen Vorgaben verletzen. Dateien, die größer als {size}kB sind werden automatisch komprimiert.",
		"author-hint": " Um als Autor Ihre Ideensammlungen zu verwalten, melden Sie sich bitte zunächst an.",
		"enter-encryption-key":"Bitte geben Sie den geheimen Schlüssel für diese Ideensammlung ein",
		"key":"Schlüssel",
		"key-confirm":"Bestätigung Schlüssel",
		"modal-action-text":"Was möchten Sie mit diesem Eintrag tun?"
	},
	"en": {
		"input-ticket": "Please enter the ticket for the brainstorming session.",
		"ticket": "Ticket",
		"next": "Next",
		"": "",
		"help": "Help",
		"close": "Close",
		"manual": "Manual",
		"help-add-card": "Add a new card to the session",
		"help-edit-card": "Rename, color or lock a card",
		"help-delete-card": "Deleting a card - caution, this can not be undone!",
		"help-add-content": "Add a new entry (text, link or upload) to the card",
		"help-locked": "Cards with this symbol can not be edited.",
		"help-hidden": "Hidden cards are not visible for ordinary users.",
		"help-pechakucha": "Starting of a Pecha Kucha presentation.",
		"help-preview": "For images, audio or video files, a preview will automatically be displayed on the card.",
		"help-edit": "To edit an existing entry, click on it with the mouse.",
		"help-move": "Entries can be moved with the mouse within a card or onto other cards.",
		"privacy": "Privacy",
		"privacy-hint1": "Your entries are encrypted and transferred to the web server where they are stored in a database for the duration of the brainstorming session.",
		"privacy-hint2": "This is done anonymously. Your name (if you are logged in) or your IP address will not be stored in the database.",
		"privacy-hint3": "Please note that all other participants invited by the author via a public link (and know the secret key for encrypted sessions) can also see the contents.",
		"privacy-hint4": "This brainstorming session is also encrypted on the client side, i.e. the operator of the server cannot see the content in the database (if no one tells him the secret key)",
		"wait-connecting": "Please wait - the connection to the server will be established ...",
		"wait-loading": "Please wait - the brainstorming session is loading ...",
		"info-add-content-or-drag": "Use the plus icon to create new entries - or move existing entries to this field.",
		"info-add-content": "Use the plus symbol to create new entries.",
		"add-content": "Add content",
		"pechakucha": "Pecha Kucha",
		"edit-card": "Edit card",
		"delete-card": "Delete card",
		"update-view": "Refresh view",
		"add-card": "Add card",
		"choose-action": "Choose action",
		"show": "Show",
		"edit": "Edit",
		"drag": "Move",
		"delete": "Delete",
		"select-type": "Select the type of entry.",
		"text-input": "Text",
		"link": "Link",
		"image": "Image",
		"hint-text-input": "Enter text or description",
		"enter-url": "Enter the URL",
		"hint-card-title": "Title of the card",
		"sorting": "Sorting",
		"color": "Color",
		"access": "Access",
		"lock-card": "Lock card",
		"hide-card": "Hide card",
		"confirm-delete-card": "Are you sure you want to delete this card?",
		"upload-info": "Please only upload files where copyright permits and which do not violate any other legal requirements! Files largen than {size}kb will be automatically compressed",
		"author-hint": "In order to administrate your brainstorming sessions as an author, please log in first.",
		"enter-encryption-key": "Please enter the secret key for this brainstorming session",
		"key": "Key",
		"key-confirm": "Confirm Key",
		"modal-action-text": "What do you want to do with this entry?"
	}
}
</i18n>
