<template>
	<div>
		<div v-show="slide==-1" class="slide" v-on:click="nextSlide()">
			<div class="slideCenterContent">
				<p class="slide">{{card.title}}</p>
				<br>
				<h2>{{$t('pechakucha-info',{num:card.contents.length})}}</h2>
				<br>
				<h2>{{$t('pechakucha-start')}}</h2>
				<br>
				<button class="btn btn-secondary" v-on:click="$router.go(-1)">{{$t('close')}}</button>
			</div>
		</div>
		<div v-for="(content, n) in card.contents">
			<div class="slide" v-show="n==slide" v-on:click="nextSlide()">
				<div class="slideCenterContent" v-if="content.type=='text'">
					<p class="slide" style="font-size:64px;text-align:center;font-weight:bold">{{content.text}}</p>
				</div>
				<div class="slideImageContent" v-else-if="content.url.match($consts.REGEX_IMAGE) || content.url.match($consts.REGEX_DATA_URI)">
					<img class="slide" :src="content.url">
				</div>
				<div class="slideCenterContent" v-else-if="content.url.match($consts.REGEX_AUDIO)">
					<p class="slide">{{content.text}}</p>
					<br>
					<audio :id="'media'+n" controls style="width:50%">
						<source :src="content.url"></source>
					</audio>
				</div>
				<div class="slideImageContent" v-else-if="content.url.match($consts.REGEX_VIDEO)">
					<video class="slide" id="'media'+n">
						<source :src="content.url"></source>
					</video>
				</div>
				<div class="slideCenterContent" v-else>
					<a class="slide" :href="content.url">{{content.text}}</a>
				</div>
			</div>
		</div>
		<div class="progress slideProgress">
			<div class="progress-bar bg-dark" role="progressbar" :style="'width: '+Math.round(progress*1000)/10+'%'"/>
		</div>
	</div>
</template>

<script>
	const TIME_SLIDE=20;
	const TIME_ANIMATE=0.5;
	import color from "../../main/js/color.js";

	export default {
		data: function() {
			return {
				slide:-1,
				card:{contents:[]},
				timer:{},
				slideTime:0,
				progress:0,
			}
		},
		mounted: function() {
			if (this.$route.params.card) {
				this.card=this.$route.params.card;
				this.numSlides=this.card.contents.length;
				setInterval(this.tick, 1000);
			}
		},
		methods: {
			//time step
			tick: function() {
				if (this.slide<0) return;
				this.slideTime=this.slideTime+1;
				if (this.slideTime>=TIME_SLIDE) {
					this.nextSlide();
				}
				else {
					this.progress=(this.slideTime+(this.slide)*TIME_SLIDE)/(this.numSlides*TIME_SLIDE);
				}
			},
			//Show next slide
			nextSlide: function () {
				//TODO transition
				//Stop active media
				var media=document.getElementById('#media'+this.slide);
				if (media) {
					media.pause();
					media.currentTime=0
				}
				//increment counter
				this.slide=this.slide+1;
				this.slideTime=0;
				if (this.slide<this.numSlides) {
					//Start next media (if neccessary)
					var media=document.getElementById('#media'+this.slide)
					if (media) media.play();
					this.progress=(this.slide)/this.numSlides;
				}
				//finished, show start page
				else {
					this.slide=-1;
					this.progress=0;
				}
			}
		}
	}

</script>

<style>
	/*body {margin:0px;padding:0px !important}*/
	div.slide {width:100%; height:100%; position: absolute; top:0; left:0; vertical-align:middle; z-index: 2000; background-color: #FFFFFF}
	div.slideCenterContent {position:absolute; padding: 32px; width:100%; top: 50%; transform: translate(-0, -50%);text-align: center;}
	div.slideImageContent {position:absolute; width:100%;height:100%;background-color:black;}
	p.slide,a.slide {font-size: 64px; font-weight: bold; text-align:center; }
	img.slide {width:100%; height:100%; object-fit: contain;}
	video.slide {width:100%; height:100%; object-fit: contain;}
	div.slideProgress {position:absolute;bottom:0;left:0;width:100%;z-index: 2001}

	[data-theme="dark"] div.slide {  background-color: #1F2326 !important;}
	[data-theme="dark"] div.slideProgress {  background-color: #000000 !important;}

</style>





<i18n>
{
	"de": {
		"pechakucha-start": "Zum Starten auf die Folie klicken",
		"pechakucha-info":"{num} Bilder x 20 Sekunden",
		"close": "Schließen"
	},
	"en": {
		"pechakucha-start": "Click on the slide to start",
		"pechakucha-info":"{num} images x 20 seconds",
		"close": "Close"
	}
}
</i18n>
